.home {
  width: 100%;
  height: 100vh;
  padding: 15px;

  .content {
    width: 100%;
    height: 100%;
    padding: 10px 20px;

    .top {
      width: 100%;
      display: flex;
      flex-direction: column;

      .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        h2 {
          font-size: 1rem;
          margin-bottom: 5px;
          color: #0c0950;
        }
        .appointment-card {
          width: 100%;
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          gap: 10px;

          .card {
            flex: 1;
            border-radius: 5px;
            height: 100px;
            border: 1px solid rgb(168, 168, 221);
            padding: 10px;
            display: flex;
            flex-direction: column;
            background: linear-gradient(135deg, #afc3e7, #d6e8fa);
            border-left: 5px solid #170fb1;
            gap: 20px;

            .topp {
              flex: 5;
              display: flex;
              width: 100%;
              .left {
                flex: 3;
                display: flex;
                justify-content: start;
                align-items: center;
                border-right: 2px solid rgb(255, 255, 255);

                span {
                  font-size: 14px;
                  font-weight: 700;
                  color: #170fb1;
                }
              }
              .right {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                  font-size: 30px;
                  font-weight: bold;
                }
              }
            }
            .bott {
              flex: 1;
              display: flex;
              justify-content: start;
              align-items: end;
              a {
                cursor: pointer;
                .info-icon {
                  font-size: 20px;
                  color: #302e2e;
                }
              }
            }
          }
        }
      }
    }

    .bot {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 50px;

      span {
        font-size: 14px;
        color: blue;
        font-weight: 500;
      }

      .header {
        display: flex;
        gap: 10px;
        margin-top: 80px;
        select {
          width: fit-content;
          margin-left: 50px;
          border: 1px solid green;
          border-radius: 4px;
        }

        button {
          width: fit-content;
          background-color: rgb(55, 36, 138);

          color: #fff;
          font-size: 12px;
          padding: 4px 8px;
          border-radius: 4px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: rgb(97, 109, 218);
          }
        }
      }

      h4 {
        border-bottom: 1px solid rgb(140, 176, 230);
        padding-bottom: 20px;
        align-self: end;
        margin-top: 7px;
        color: #0c0950;
      }

      .sales-wrapper {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 20px;

        p {
          font-size: 14px;
          font-weight: 500;
          text-align: start;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .home {
    width: 100%;
    height: 100%;
    padding: 7px;

    .content {
      width: 100%;
      height: 100%;
      padding: 10px 20px;

      .top {
        width: 100%;
        display: flex;
        flex-direction: column;

        .cards {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          .appointment-card {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;

            .card {
              flex: 1;
              border-radius: 5px;
              height: 100px;
              border: 1px solid rgb(168, 168, 221);
              padding: 10px;
              display: flex;
              flex-direction: column;
              background: linear-gradient(135deg, #afc3e7, #d6e8fa);
              border-left: 5px solid #170fb1;
              gap: 20px;
              .topp {
                flex: 5;
                display: flex;
                width: 100%;
                .left {
                  flex: 3;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  border-right: 2px solid rgb(255, 255, 255);

                  span {
                    font-size: 14px;
                    font-weight: 700;
                    color: #170fb1;
                  }
                }
                .right {
                  flex: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  span {
                    font-size: 30px;
                    font-weight: bold;
                  }
                }
              }
              .bott {
                flex: 1;
                display: flex;
                justify-content: start;
                align-items: end;
                a {
                  cursor: pointer;
                  .info-icon {
                    font-size: 20px;
                    color: #302e2e;
                  }
                }
              }
            }
          }
        }
      }

      .bot {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 50px;

        span {
          font-size: 14px;
          color: blue;
          font-weight: 500;
        }

        .header {
          display: flex;
          gap: 10px;
          margin-top: 80px;

          select {
            width: fit-content;
            margin-left: 50px;
            border: 1px solid green;
            border-radius: 4px;
          }

          button {
            width: fit-content;
            background-color: rgb(55, 36, 138);

            color: #fff;
            font-size: 12px;
            padding: 4px 8px;
            border-radius: 4px;
            border: none;
            cursor: pointer;

            &:hover {
              background-color: rgb(97, 109, 218);
            }
          }
        }

        h4 {
          border-bottom: 1px solid rgb(140, 176, 230);
          padding-bottom: 20px;
          align-self: end;
          margin-top: 7px;
          color: #0c0950;
        }
      }
    }
  }
}
