.user-profile2 {
  width: 100%;
  height: 100vh;
  position: relative;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 450px;
    margin-top: 50px;

    .top-content {
      width: 100%;
      display: flex;
      justify-content: center;

      .profile-img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }
    }

    .bot-content {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 60px;
        section {
          display: flex;
          flex-direction: column;
          width: 100%;
          span {
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            margin-bottom: 20px;
          }

          .inpts {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            input {
              border: none;
              border-bottom: 1px solid gray;
              padding: 10px;
              font-size: 14px;
              &:focus {
                outline: none;
              }
            }
          }
        }

        .btn-update {
          background-color: blue;
          color: #fff;
          font-size: 14px;
          display: flex;
          align-items: center;
          max-width: fit-content;
          padding: 7px 12px;
          border-radius: 4px;
          align-self: end;
          cursor: pointer;

          &:hover {
            background-color: rgb(36, 36, 170);
          }
          .icon {
            margin-right: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

.back-icon {
  position: absolute;
  top: 1px;
  left: 90px;
}

@media (max-width: 786px) {
  .user-profile2 {
    width: 100%;
    height: 100vh;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-top: 0;
      background-color: #0c0950;
      padding-top: 50px;

      .top-content {
        width: 100%;
        display: flex;
        justify-content: center;

        .profile-img {
          height: 120px;
          width: 120px;
          border: 2px solid #05155e;
          padding: 2px;
        }
      }

      .bot-content {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        background-color: #fff;
        height: 100%;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 45px;
          section {
            display: flex;
            flex-direction: column;
            width: 100%;
            span {
              font-size: 14px;
              font-weight: 500;
              color: #000000;
              margin-bottom: 20px;
            }

            .inpts {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 10px;

              input {
                border: none;
                border-bottom: 1px solid rgb(204, 197, 197);
                padding: 10px;
                font-size: 14px;
                &:focus {
                  outline: none;
                }
              }
            }
          }

          .btn-update {
            background-color: blue;
            color: #fff;
            font-size: 14px;
            display: flex;
            align-items: center;
            max-width: fit-content;
            padding: 7px 12px;
            border-radius: 4px;
            align-self: end;
            cursor: pointer;
            border: none;

            &:hover {
              background-color: rgb(36, 36, 170);
            }
            .icon {
              margin-right: 5px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    cursor: pointer;
  }
}
