.user-profile2 {
  width: 100%;
  height: 100vh;
  position: relative;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    .top-content {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #0c0950;
      height: auto;
      align-items: center;
      flex-direction: column;
      padding: 30px;

      .top-wrapper {
        position: relative;
        margin-top: 150px;
        .profile-img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

        .edit-profile-icon {
          position: absolute;
          color: #fff;
          cursor: pointer;
          margin-left: -5px;
          padding: 5px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 16px;
          z-index: 2;
          height: 25px;
          width: 25px;
          top: 20px;
          right: -17px;
          border: 1px solid rgb(122, 118, 118);
        }
      }

      .top-previous {
        width: 100%;
        padding: 0 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        .containerrr {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 10px;
          border-radius: 10px;
          background-color: #0c0950;
          border: 1px solid #0f0a69;
          margin-top: 20px;
          .title {
            display: flex;
            margin-bottom: 7px;
            justify-content: center;
            margin-bottom: 10px;
            border-bottom: 1px solid #0f0a69;

            span {
              font-size: 0.875rem;
              color: rgb(146, 142, 142);
              margin-bottom: -8px;
              background-color: #0c0950;
              padding: 0 10px;
            }
          }

          .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .card {
              display: flex;
              flex-direction: column;
              box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
              padding: 5px;
              justify-content: center;
              align-items: center;
              border-radius: 5px;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
                transform: translateY(-3px);
              }

              .card-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid rgb(236, 232, 232);
              }

              span {
                font-size: 0.75rem;
                margin-top: 5px;
                color: lightgray;
              }
            }
          }
        }

        .no-prev-appointment {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;
          gap: 5px;

          p {
            color: gray;
          }
          .btn-setapp {
            background-color: #007bff;
            font-size: 0.75rem;
            height: 30px;
            padding: 0 10px;
            border-radius: 5px;
            border: none;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .bot-content {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      padding: 0 400px;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 60px;
        section {
          display: flex;
          flex-direction: column;
          width: 100%;
          span {
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            margin-bottom: 20px;
          }

          .inpts {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            input {
              border: none;
              border-bottom: 1px solid gray;
              padding: 10px;
              font-size: 14px;
              &:focus {
                outline: none;
              }
            }
          }
        }

        .btn-update {
          background-color: blue;
          color: #fff;
          font-size: 14px;
          display: flex;
          align-items: center;
          max-width: fit-content;
          padding: 7px 12px;
          border-radius: 4px;
          align-self: end;
          cursor: pointer;
          border: none;

          &:hover {
            background-color: rgb(36, 36, 170);
          }
          .icon {
            margin-right: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
.back-icon-prof {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  cursor: pointer;

  background-color: transparent;
  border: 1px solid #6e6d81;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.pet-info-modal-overlay {
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  .pet-info-modal {
    width: 500px;
    max-height: 90%;
    border-radius: 5px;
    border-top: 5px solid #007bff;
    background-color: #fff;
    padding: 10px;
    overflow-y: auto;

    .top {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      justify-content: end;
      align-items: center;
      .back-icon-pet {
        font-size: 1.25rem;
        cursor: pointer;
      }
    }

    .title___ {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    .pet-profile {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 5px;
    }

    .bot {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 20px;

      span {
        font-size: 0.875rem;
        display: flex;
        align-items: center;

        small {
          font-size: 0.75rem;
          color: rgb(71, 69, 69);
          margin-right: 8px;
        }
      }

      .medical-history {
        display: flex;
        flex-direction: column;
        border-top: 1px solid lightgrey;
        padding-top: 10px;

        .ptitle_ {
          font-size: 1rem;
          margin-bottom: 8px;
        }
      }

      .booking__ {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .card__booking {
          display: flex;
          justify-content: space-between;
          background-color: rgb(247, 244, 244);
          padding: 5px;
          border-radius: 10px;

          .service__note {
            display: flex;
            flex-direction: column;
            max-width: 75%;
            gap: 10px;
            align-items: start;

            .service__name {
              font-weight: 500;
              font-size: 0.75rem;
            }

            .vet__note {
              font-size: 0.75rem;
            }
          }

          .status__ {
            font-size: 10px;
            font-weight: 300;

            .stat__ {
              font-size: 10px;
              font-weight: 300;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 786px) {
  .user-profile2 {
    width: 100%;
    height: 100vh;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-top: 0;
      background-color: #0c0950;
      padding-top: 50px;

      .top-content {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #0c0950;
        height: auto;
        align-items: center;
        flex-direction: column;
        padding: 0 10px;

        .top-wrapper {
          position: relative;
          margin-top: 100px;
          .profile-img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .edit-profile-icon {
            position: absolute;
            color: #fff;
            cursor: pointer;
            margin-left: -5px;
            padding: 5px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            z-index: 2;
            height: 25px;
            width: 25px;
            top: 20px;
            right: -17px;
            border: 1px solid rgb(122, 118, 118);
          }
        }

        .top-previous {
          width: 100%;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          .containerrr {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            border-radius: 10px;
            background-color: #0c0950;
            border: 1px solid #0f0a69;
            margin-top: 20px;
            .title {
              display: flex;
              margin-bottom: 7px;
              justify-content: center;
              margin-bottom: 10px;
              border-bottom: 1px solid #0f0a69;

              span {
                font-size: 0.875rem;
                color: rgb(146, 142, 142);
                margin-bottom: -8px;
                background-color: #0c0950;
                padding: 0 10px;
              }
            }

            .content {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              gap: 8px;

              .card {
                display: flex;
                flex-direction: column;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                padding: 5px;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
                  transform: translateY(-3px);
                }

                .card-img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  object-fit: cover;
                  border: 1px solid rgb(236, 232, 232);
                }

                span {
                  font-size: 0.75rem;
                  margin-top: 5px;
                  color: lightgray;
                }
              }
            }
          }

          .no-prev-appointment {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            gap: 5px;
            width: 100%;

            p {
              color: gray;
              word-wrap: nowrap;
            }
            .btn-setapp {
              background-color: #007bff;
              font-size: 0.75rem;
              height: 30px;
              padding: 0 10px;
              border-radius: 5px;
              border: none;
              color: #fff;
              cursor: pointer;
              display: flex;
              align-items: center;
              width: 170px;
              justify-content: center;
            }
          }
        }
      }

      .bot-content {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        background-color: #fff;
        height: 100%;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 45px;
          section {
            display: flex;
            flex-direction: column;
            width: 100%;
            span {
              font-size: 14px;
              font-weight: 500;
              color: #000000;
              margin-bottom: 20px;
            }

            .inpts {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 10px;

              input {
                border: none;
                border-bottom: 1px solid rgb(204, 197, 197);
                padding: 10px;
                font-size: 14px;
                &:focus {
                  outline: none;
                }
              }
            }
          }

          .btn-update {
            background-color: blue;
            color: #fff;
            font-size: 14px;
            display: flex;
            align-items: center;
            max-width: fit-content;
            padding: 7px 12px;
            border-radius: 4px;
            align-self: end;
            cursor: pointer;
            border: none;

            &:hover {
              background-color: rgb(36, 36, 170);
            }
            .icon {
              margin-right: 5px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .back-icon-prof {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid #6e6d81;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .pet-info-modal-overlay {
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    .pet-info-modal {
      width: 100%;
      max-height: 100%;
      height: 100%;
      border-radius: 5px;
      border-top: 5px solid #007bff;
      background-color: #fff;
      padding: 10px;
      overflow-y: auto;

      .top {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        justify-content: end;
        align-items: center;
        .back-icon-pet {
          font-size: 1.25rem;
          cursor: pointer;
        }
      }

      .pet-profile {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 5px;
      }

      .bot {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 20px;

        span {
          font-size: 0.875rem;
          display: flex;
          align-items: center;

          small {
            font-size: 0.75rem;
            color: rgb(71, 69, 69);
            margin-right: 8px;
          }
        }
      }
    }
  }
}
