.medicine-client {
  width: 100%;
  height: 100%;
  padding: 0 130px;
  background-color: rgb(237, 239, 240);

  .containerr {
    width: 100%;
    height: 100%;
    margin-top: 90px;

    .top {
      width: 100%;
      height: 200px;
      background-color: #0c0950;
      display: flex;

      .left {
        width: 50%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        h1 {
          color: #fff;
        }
      }
      .right {
        width: 50%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        img {
          height: 150px;
        }
      }
    }

    .content {
      width: 100%;

      .search-container {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: end;

        .search-input-icon {
          display: flex;
          width: 30%;
          height: 45px;
          border-radius: 25px;
          padding: 15px;
          background-color: #fff;
          border: 1px solid lightgrey;
          align-items: center;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          input {
            width: 100%;
            border: none;
            height: 100%;
            background-color: #fff;

            &:focus {
              outline: none;
            }
          }

          .search-icon {
            font-size: 1.625rem;
            cursor: pointer;
            color: #000;
          }
        }
      }

      .category {
        display: flex;
        flex-direction: column;

        .top-med {
          display: flex;
          justify-content: start;
          .title-med {
            color: #000;
            font-weight: 500;
            margin-bottom: 30px;
            font-size: 1rem;
          }
        }

        .med-navbar {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 20px;
          margin-top: 20px;

          .category-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            width: 130px;
            height: fit-content;
            padding: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease,
              background-color 0.3s ease;
            cursor: pointer;

            // Default background
            background-color: #fff;

            img {
              height: 60px;
              width: 60px;
              transition: transform 0.3s ease;
            }

            .capsule-label {
              font-size: 0.875rem;
              color: #000;
              transition: color 0.3s ease;
            }

            &:hover {
              box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
            }

            &:hover img {
              transform: scale(1.1);
            }

            &:hover .capsule-label {
              color: #f0a500;
            }

            // Active state style
            &.active {
              box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
                rgba(17, 17, 26, 0.1) 0px 16px 56px,
                rgba(17, 17, 26, 0.1) 0px 24px 80px;
              .capsule-label {
                color: #f0a500;
              }
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }

      .medicine-content {
        width: 100%;
        display: flex;
        flex-direction: column;

        .top-med {
          width: 100%;
          justify-content: start;
          align-items: center;
          margin: 20px 0;

          .title-med {
            font-size: 16px;
            font-weight: 500;
            color: #000;
          }
        }

        .card-container {
          width: 100%;
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          gap: 5px;

          .card {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            background-color: #fff;

            .top-med {
              display: flex;
              justify-content: center;
              .title-med {
                color: #000;
                font-size: 0.875rem;
                font-weight: 500;
                margin-bottom: 30px;
              }
            }

            .med-items {
              display: flex;
              flex-direction: column;
              border-radius: 10px;
              padding: 10px;
              background-color: rgb(240, 235, 235);

              .item-card {
                display: flex;
                width: 300px;
                height: 120px;
                gap: 10px;

                .left {
                  width: 40%;

                  .med-img {
                    width: 100%;
                    height: 120px;
                  }
                }

                .right {
                  width: 60%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;

                  .info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .med-name {
                      height: 24px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }

                    span {
                      font-size: 0.875rem;
                      color: #000;
                    }
                  }

                  button {
                    background-color: transparent;
                    border: none;
                    color: #000;
                    font-size: 14px;
                    cursor: pointer;
                    align-self: end;
                    color: blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-viewmore-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-viewmore {
    width: 500px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: scroll;
    height: 95%;

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .left {
        width: 70%;
        h5 {
          font-size: 16px;
        }
      }
      .close-icon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 7px;
      .image-wraper {
        width: 100%;
        height: auto;

        .view-medimg {
          width: 100%;
          height: 100%;
        }
      }

      span {
        display: flex;
        font-size: 1rem;

        strong {
          margin-right: 6px;
        }
      }
    }
  }
}

//MOBILE
@media (max-width: 786px) {
  .medicine-client {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: rgb(243, 238, 238);

    .containerr {
      width: 100%;
      height: 100%;
      margin-top: 0;
      background-color: rgb(243, 238, 238);
      margin-top: 0;

      .top {
        width: 100%;
        height: 230px;
        background-color: #0c0950;
        display: flex;
        padding: 90px 10px 10px 10px;

        background-image: url("../../assets/icons/shopping-cart\ \(1\).png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .left {
          width: 50%;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;

          h1 {
            font-size: 1.25rem;
            color: #fff;
            border-bottom: 1px solid rgb(129, 125, 125);
          }
        }
        .right {
          width: 50%;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .content {
        width: 100%;
        padding: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        z-index: 999;
        margin-top: -10px;
        background-color: rgb(240, 234, 234);

        .search-container {
          width: 100%;
          margin-top: 0;
          display: flex;
          justify-content: end;

          .search-input-icon {
            display: flex;
            width: 100%;
            height: 45px;
            border-radius: 25px;
            padding: 15px;
            background-color: #fff;
            border: 1px solid lightgrey;
            align-items: center;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            input {
              width: 100%;
              border: none;
              height: 100%;
              background-color: #fff;

              &:focus {
                outline: none;
              }
            }

            .search-icon {
              font-size: 1.625rem;
              cursor: pointer;
              color: #000;
            }
          }
        }

        .category {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          .top-med {
            display: flex;
            justify-content: start;
            margin-bottom: 10px;
            .title-med {
              color: #000;
              font-weight: 500;
              margin-bottom: 10px;
              font-size: 1rem;
            }
          }

          .med-navbar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 0;

            .category-card {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              border-radius: 5px;
              width: 100px;
              height: fit-content;
              padding: 10px;

              img {
                height: 50px;
                width: 50px;
              }

              .capsule-label {
                font-size: 0.875rem;
                color: #000;
              }
            }
          }
        }

        .medicine-content {
          width: 100%;
          display: flex;
          flex-direction: column;

          .top-med {
            width: 100%;
            justify-content: start;
            align-items: center;
            margin: 20px 0;

            .title-med {
              font-size: 16px;
              font-weight: 500;
              color: #000;
            }
          }

          .card-container {
            width: 100%;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            gap: 5px;

            .card {
              box-shadow: none;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              width: 49%;
              padding: 5px 5px 10px 5px;
              background-color: #fff;

              .top-med {
                display: flex;
                justify-content: center;
                width: 100%;
                .title-med {
                  color: #000;
                  font-size: 0.875rem;
                  font-weight: 500;
                  margin-bottom: 10px;
                }
              }

              .med-items {
                display: flex;
                width: 100%;
                flex-direction: column;
                border-radius: 10px;
                padding: 10px;
                background-color: transparent;
                .item-card {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  height: 200px;
                  gap: 10px;

                  .left {
                    width: 100%;
                    height: 120px;

                    .med-img {
                      width: 100%;
                      height: 120px;
                      object-fit: cover;
                    }
                  }

                  .right {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    .info {
                      width: 100%;
                      display: flex;
                      flex-direction: column;

                      span {
                        font-size: 0.75rem;
                        color: #000;
                      }
                    }

                    button {
                      background-color: transparent;
                      border: none;
                      color: blue;
                      font-size: 0.6rem;
                      cursor: pointer;
                      align-self: end;
                      margin-top: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-viewmore-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2999;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-viewmore {
      width: 500px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      overflow-y: scroll;
      height: 100%;

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .left {
          h5 {
            font-size: 1.25rem;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .image-wraper {
          width: 100%;
          height: auto;

          .view-medimg {
            width: 100%;
            height: 100%;
          }
        }

        span {
          display: flex;
          font-size: 1rem;

          strong {
            margin-right: 6px;
          }
        }
      }
    }
  }
}
