.containerrr {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  .title {
    display: flex;
    margin-bottom: 7px;

    span {
      font-size: 0.875rem;
      color: black;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .card {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
      padding: 5px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
        transform: translateY(-3px);
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid lightgrey;
      }

      span {
        font-size: 0.75rem;
        margin-top: 5px;
      }
    }
  }
}

@media (max-width: 786px) {
  .containerrr {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    .title {
      display: flex;

      span {
        font-size: 0.875rem;
        color: black;
      }
    }

    .content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .card {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid lightgrey;
        }

        span {
          font-size: 12px;
        }
      }
    }
  }
}
