.notificationnn-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;

  .notification {
    width: 340px;
    background-color: #f5f5f5;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    z-index: 2999;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-right: 3px;
    border-top: 5px solid #007bff;

    .top-card {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 0;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 10px;
      position: sticky;
      top: 0;
      right: 0;
      background-color: #fff;
      z-index: 3333;
      padding: 10px;
      h6 {
        font-size: 16px;
        color: #0c0950;
      }

      .icon {
        font-size: 20px;
        cursor: pointer;
        cursor: pointer;
      }
    }

    .p-note {
      font-size: 12px;
      color: gray;
      margin: 20px;
      border: 1px solid lightgrey;
      border-radius: 10px;
      padding: 7px 15px;
      background-color: rgb(241, 241, 209);
    }

    .notification-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;

      .card {
        width: 100%;
        display: flex;
        background-color: #dfd7d7;
        padding: 8px;
        height: auto;
        margin-bottom: 3px;

        &.clicked {
          background-color: #ffffff;
        }

        .left {
          width: 25px;
          height: auto;
          margin-right: 10px;

          img {
            width: 100%;
            height: auto;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;

          .top {
            display: flex;
            flex-direction: column;
            .title {
              font-size: 12px;
              font-weight: 400;
              color: #4e4e52;
            }

            p {
              font-size: 0.75rem;
              font-weight: 400;
              color: #26262b;
              margin-top: 10px;
            }
          }

          .bot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;

            span {
              font-size: 10px;
              color: gray;
            }
            .btn-view {
              background-color: transparent;
              border: none;
              font-size: 12px;
              border-radius: 4px;
              cursor: pointer;
              padding: 3px 8px;
              border: 1px solid rgb(204, 197, 197);

              a {
                color: #000;

                &:hover {
                  color: #fff;
                }
              }

              &:hover {
                background-color: gray;
              }
            }
          }
        }
      }

      .view-more-btn {
        background-color: transparent;
        font-size: 12px;
        cursor: pointer;
        border: none;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 786px) {
  .notificationnn-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: end;
    background-color: #f5f5f5;

    .notification {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #f5f5f5;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 0;
      margin-right: 0;
      background-color: #ebe5e5;

      .top-card {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0;
        background-color: #ebe5e5;

        h6 {
          font-size: 16px;
          color: #0c0950;
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .p-note {
        font-size: 12px;
        color: gray;
        margin: 20px;
      }

      .notification-content {
        width: 100%;
        display: flex;
        flex-direction: column;

        .card {
          width: 100%;
          display: flex;
          background-color: #fff;
          padding: 8px;
          height: auto;
          margin-bottom: 3px;
          cursor: pointer;
          &.clicked {
            background-color: #ecebeb;
          }

          .left {
            width: 25px;
            height: auto;
            margin-right: 10px;

            img {
              width: 100%;
              height: auto;
            }
          }

          .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
              display: flex;
              flex-direction: column;
              .title {
                font-size: 12px;
                font-weight: 400;
                color: #26262b;
              }

              p {
                font-size: 14px;
                font-weight: 400;
                color: #26262b;
                margin-top: 10px;
              }
            }

            .bot {
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                font-size: 12px;
                color: #26262b;
              }
              .btn-view {
                background-color: green;
                border: none;
                color: #fff;
                font-size: 12px;
                border-radius: 4px;
                cursor: pointer;
                padding: 3px 8px;

                &:hover {
                  background-color: #16550e;
                }
              }
            }
          }
        }

        .btn-viewmore {
          background-color: transparent;
          font-size: 12px;
          cursor: pointer;
          border: none;
          margin-top: auto;
        }
      }
    }
  }
}
