.vnavbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 50px;
      width: auto;
    }

    .vnav-buttons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 25px;

      .list-icon {
        list-style: none;
        text-decoration: none;

        .nav-icon {
          cursor: pointer;
          color: #464670;
          font-size: 1.5625rem;
        }
      }

      .list-icon-bell {
        list-style: none;
        text-decoration: none;
        position: relative;

        .nav-icon {
          cursor: pointer;
          color: #464670;
          font-size: 1.5625rem;
        }

        .dot {
          background-color: red;
          border-radius: 50%;
          height: 12px;
          width: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;

          span {
            font-size: 10px;
            color: #fff;
            font-weight: 200;
          }
        }
      }

      .btn-signin {
        background-color: #161179;
        border: none;
        color: #fff;
        font-size: 0.875rem;
        font-weight: 500;
        height: 38px;
        padding: 0 15px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: #0c0950;
        }
      }

      .dropdown-vet {
        position: absolute;
        top: 40px;
        right: -10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 3px;
        background-color: #fff;

        .container {
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: start;

          span {
            color: #0c0950;
            font-size: 1rem;
            display: flex;
            align-items: center;
            cursor: pointer;

            .icon {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }
}

.notification-overlayv {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;

  .notification-vet {
    width: 340px;
    background-color: #fff;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    z-index: 2999;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 3px;
    margin-right: 3px;

    .top {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 10px;
      h6 {
        font-size: 16px;
        color: #0c0950;
      }

      .icon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .notification-content {
      width: 100%;
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        display: flex;
        background-color: #eee7e7;
        padding: 8px;
        height: auto;
        margin-bottom: 3px;

        .left {
          width: 25px;
          height: auto;
          margin-right: 10px;

          img {
            width: 100%;
            height: auto;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;

          .top {
            display: flex;
            flex-direction: column;
            .title {
              font-size: 12px;
              font-weight: 400;
              color: #4e4e52;
            }

            p {
              font-size: 14px;
              font-weight: 400;
              color: #26262b;
              margin-top: 10px;
            }
          }

          .bot {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              font-size: 12px;
              color: #26262b;
            }
            button {
              background-color: blue;
              border: none;
              color: #fff;
              font-size: 12px;
              border-radius: 4px;
              cursor: pointer;
              padding: 3px 8px;

              &:hover {
                background-color: #16550e;
              }
            }
          }
        }
      }

      .view-more-btn {
        background-color: transparent;
        font-size: 12px;
        cursor: pointer;
        border: none;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 786px) {
  .vnavbar {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0c0950;

    .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        height: 40px;
        width: auto;
      }

      .vnav-buttons {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;

        .list-icon {
          list-style: none;
          text-decoration: none;

          .nav-icon {
            cursor: pointer;
            color: #fff;
            font-size: 1.25rem;
          }
        }

        .list-icon-bell {
          list-style: none;
          text-decoration: none;
          position: relative;

          .nav-icon {
            cursor: pointer;
            color: #fff;
            font-size: 1.5625rem;
          }

          .dot {
            background-color: red;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;

            span {
              font-size: 10px;
              color: #fff;
              font-weight: 200;
            }
          }
        }

        .btn-signin {
          background-color: #0a4b5e;
          border: none;
          color: #fff;
          font-size: 0.875rem;
          font-weight: 500;
          height: 38px;
          padding: 0 15px;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: #083f50;
          }
        }
        .dropdown-vet {
          position: absolute;
          top: 40px;
          right: -10px;
          display: flex;
          flex-direction: column;
          padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
            rgba(0, 0, 0, 0.24) 0px 1px 2px;
          border-radius: 3px;
          background-color: #fff;

          .container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: start;

            span {
              color: #0c0950;
              font-size: 1rem;
              display: flex;
              align-items: center;
              cursor: pointer;

              .icon {
                margin-right: 5px;
              }
            }
          }
        }
      }

      .menu-icon {
        display: flex;
        font-size: 30px;
        color: #083f50;
        cursor: pointer;
      }
    }
  }

  .notification-overlayv {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: end;

    .notification-vet {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px;

      .top {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 30px;
        h6 {
          font-size: 16px;
          color: #0c0950;
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .notification-content {
        width: 100%;
        display: flex;
        flex-direction: column;

        .card {
          width: 100%;
          display: flex;
          background-color: #eee7e7;
          padding: 8px;
          height: auto;
          margin-bottom: 3px;

          .left {
            width: 25px;
            height: auto;
            margin-right: 10px;

            img {
              width: 100%;
              height: auto;
            }
          }

          .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
              display: flex;
              flex-direction: column;
              .title {
                font-size: 12px;
                font-weight: 400;
                color: #26262b;
              }

              p {
                font-size: 14px;
                font-weight: 400;
                color: #26262b;
                margin-top: 10px;
              }
            }

            .bot {
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                font-size: 12px;
                color: #26262b;
              }
              button {
                background-color: green;
                border: none;
                color: #fff;
                font-size: 12px;
                border-radius: 4px;
                cursor: pointer;
                padding: 3px 8px;

                &:hover {
                  background-color: #16550e;
                }
              }
            }
          }
        }

        .btn-viewmore {
          background-color: transparent;
          font-size: 12px;
          cursor: pointer;
          border: none;
          margin-top: auto;
        }
      }
    }
  }
}
