.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 50px;
      width: auto;
    }

    .nav-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      gap: 15px;

      .top {
        display: none;
        justify-content: end;
        width: 100%;

        &.homee {
          display: flex;
        }

        span {
          font-size: 0.75rem;
          color: #0c0950;
          background-color: rgb(255, 254, 254);
          border-radius: 25px;
          padding: 3px 10px;
        }
      }
      .bot {
        display: flex;
        align-items: center;
        gap: 45px;

        .list-icon {
          list-style: none;
          text-decoration: none;
          color: #7b7e80;
          font-size: 0.875rem;
          font-weight: bold;
          position: relative;
          display: inline-block;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -4px;
            background-color: #7b7e80;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
          }

          &:hover::after,
          &.active::after {
            transform: scaleX(1);
          }

          &.active {
            color: #0a4b5e;
          }

          .nav-icon {
            cursor: pointer;
            color: #0a4b5e;
            font-size: 1.25rem;
          }
        }

        .list-icon-notif {
          position: relative;
          list-style: none;
          text-decoration: none;

          .nav-icon {
            cursor: pointer;
            color: #0a4b5e;
            font-size: 1.25rem;
          }

          .dot-wrapper {
            position: absolute;
            top: 0;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: red;
            height: 13px;
            width: 12px;

            span {
              color: #fff;
              font-size: 10px;
              font-weight: 400;
            }
          }
        }

        .btn-signin {
          background-color: #161179;
          border: none;
          color: #fff;
          font-size: 0.875rem;
          font-weight: 500;
          height: 38px;
          padding: 0 15px;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: #0c0950;
          }
        }
      }
    }

    .menu-notif-wrapper {
      display: none;
    }
  }

  .dropdown-client {
    position: absolute;
    top: 83px;
    right: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 3px;
    background-color: #fff;

    .container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: start;

      span {
        color: #0c0950;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
          margin-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    &.scrolled {
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        height: 40px;
        width: auto;
      }

      .nav-buttons {
        display: none;
        align-items: center;
        justify-content: end;
        gap: 45px;

        .list-icon {
          list-style: none;
          text-decoration: none;

          .nav-icon {
            cursor: pointer;
            color: #0a4b5e;
            font-size: 1.25rem;
          }
        }

        .btn-signin {
          background-color: #0a4b5e;
          border: none;
          color: #fff;
          font-size: 0.875rem;
          font-weight: 500;
          height: 38px;
          padding: 0 15px;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: #083f50;
          }
        }
      }

      .menu-notif-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;

        .notification-icon {
          position: relative;

          .bell-icon {
            font-size: 1.4375rem;
            color: #a5a0a0;
            cursor: pointer;
          }

          .count {
            position: absolute;
            top: 0;
            right: -2px;
            background-color: red;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-size: 10px;
              color: #fff;
              font-weight: 300;
            }
          }
        }

        .menu-icon {
          display: flex;
          font-size: 1.5625rem;
          cursor: pointer;
          color: #fff;

          &.home_ {
            color: #0a4b5e;
          }
        }
      }
    }
  }
}
