.veterinarian {
  width: 100%;
  height: 100vh;

  .veterinarian-container {
    width: 100%;
    height: 100%;
    display: flex;

    .veterinarian-top {
      width: 60%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
      margin-right: -50px;
      background-color: #0c0950;
      z-index: 2;
      position: relative;

      .btn-backlink {
        position: absolute;
        top: 30px;
        left: 30px;
        .back-icon {
          font-size: 1.25rem;
          color: #fff;
          cursor: pointer;
          margin-left: 30px;
        }
      }

      .profile-wrapper {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        object-fit: contain;
        overflow: hidden;
        border: 1px solid #161179;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        .profile {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .name-rules {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h3 {
          display: flex;
          align-items: center;
          font-size: 2.125rem;
          color: #fff;
        }

        span {
          color: #fbe4d6;
          font-size: 1.125rem;
        }
      }
    }

    .veterinarian-bottom {
      padding: 50px 100px 50px 100px;
      width: 60%;
      background-color: #fff;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      height: 100%;
      z-index: 100;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      z-index: 1;

      .profile-wrapper {
        display: none;
      }

      .name-rule {
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        h3 {
          font-size: 2.125rem;
          color: #0c0950;
        }

        .rule {
          font-size: 0.875rem;
          color: #0c0950;
        }
      }

      .veterinarian-userinfo-card-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-direction: column;

        .services {
          display: flex;
          flex-direction: column;

          h3 {
            color: #0c0950;
            font-size: 1.125rem;
            margin-bottom: 5px;
          }

          .services-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .card {
              display: flex;
              flex-direction: column;
              padding: 10px;
              box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px;

              .service {
                font-size: 1rem;
                font: 500px;
                color: #0c0950;
              }

              .price {
                font-size: 14px;
                color: #0c0950;
              }
            }
          }
        }

        .vet-info {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          gap: 5px;

          span {
            display: flex;
            align-items: center;
            color: #0c0950;
            font-size: 0.875rem;

            .icon {
              font-size: 0.875rem;
              margin-right: 5px;
              color: #0c0950;
            }
          }
        }

        .contact {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          gap: 5px;

          h3 {
            font-size: 1.125rem;
            color: #0c0950;
          }

          span {
            display: flex;
            align-items: center;
            color: #0c0950;
            font-size: 0.875rem;

            .icon {
              font-size: 0.875rem;
              margin-right: 5px;
              color: #0c0950;
            }
          }
        }
      }

      .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #0c0950;

        h3 {
          font-size: 1.125rem;
          margin-bottom: 10px;
          color: #0c0950;
        }
      }

      .btn-sent-appointment {
        width: 100%;
        background-color: #261fb3;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 10px 0;
        border-radius: 7px;
        border: none;
      }
    }
  }
}

@media (max-width: 786px) {
  .veterinarian {
    width: 100%;
    height: 100%;

    .veterinarian-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .veterinarian-top {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        position: relative;

        .btn-backlink {
          position: absolute;
          top: 20px;
          left: 15px;
          .back-icon {
            font-size: 1.25rem;
            color: #fff;
            cursor: pointer;
            margin-left: 10px;
          }
        }

        .profile-wrapper {
          display: none;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          .profile {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .name-rules {
          display: none;
        }
      }

      .veterinarian-bottom {
        padding: 100px 10px 10px 10px;
        width: 100%;
        background-color: rgb(248, 246, 246);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100%;
        z-index: 999;
        background-color: #fff;
        margin-top: -15px;

        .profile-wrapper {
          display: flex;
          background-color: #fbe4d6;
          margin-top: -175px;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .name-rule {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          margin-top: 10px;

          h3 {
            font-size: 1.5625rem;
            color: #0c0950;
          }

          .rule {
            font-size: 0.875rem;
            color: #0c0950;
          }
        }

        .veterinarian-userinfo-card-wrapper {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          flex-direction: column;

          .services {
            display: flex;
            flex-direction: column;

            h3 {
              color: #0c0950;
              font-size: 1.125rem;
              margin-bottom: 5px;
            }

            .services-wrapper {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              gap: 10px;

              .card {
                display: flex;
                flex-direction: column;
                padding: 10px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                .service {
                  font-size: 1rem;
                  font: 500px;
                  color: #0c0950;
                }

                .price {
                  font-size: 14px;
                  color: #0c0950;
                }
              }
            }
          }

          .vet-info {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 5px;

            span {
              display: flex;
              align-items: center;
              color: #0c0950;
              font-size: 0.875rem;

              .icon {
                font-size: 0.875rem;
                margin-right: 5px;
                color: #0c0950;
              }
            }
          }

          .contact {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 5px;

            h3 {
              font-size: 1.125rem;
              color: #0c0950;
            }

            span {
              display: flex;
              align-items: center;
              color: #0c0950;
              font-size: 0.875rem;

              .icon {
                font-size: 0.875rem;
                margin-right: 5px;
                color: #0c0950;
              }
            }
          }
        }

        .about {
          width: 100%;
          display: flex;
          flex-direction: column;
          color: #0c0950;

          h2 {
            font-size: 16px;
            margin-bottom: 10px;
            color: #0a4b5e;
          }
        }

        .btn-sent-appointment {
          width: 100%;
          background-color: #261fb3;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          margin-bottom: 20px;
          margin-top: 10px;
          padding: 10px 0;
          border-radius: 7px;
          border: none;
        }
      }
    }
  }
}
