.chatbot-container {
  width: 400px;
  height: 90%;
  background-color: rgb(240, 233, 233);

  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
  border: 1px solid rgb(255, 255, 255);

  .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f5f5;
    .left {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        border: 1px solid gray;
        border-radius: 50%;
      }
      span {
        font-size: 12px;
        color: rgb(49, 45, 45);
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 8px;

      .togglebutton-wrapper {
        border-radius: 25px;
        border: 1px solid #ffcfef;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 10px;
        cursor: pointer;
        .icon-mode-moon {
          font-size: 1.125rem;
          cursor: pointer;
          color: #3674b5;
        }
        .icon-mode-sun {
          font-size: 1.125rem;
          cursor: pointer;
          color: rgb(189, 189, 16);
        }
      }

      .refresh {
        font-size: 1.25rem;
        cursor: pointer;
        color: green;
      }
      .closeIcon {
        font-size: 1.25rem;
        color: rgb(49, 45, 45);
        cursor: pointer;
      }
    }
  }

  // Messages area
  .chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    // Custom scrollbar
    scrollbar-width: thin;
    scrollbar-color: #444 #1e1e1e;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #444;
      border-radius: 4px;
    }

    // Wrapper for each message
    .chat-message-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;

      &.ai {
        align-items: flex-start;
      }

      &.user {
        align-items: flex-end;
      }

      .ai-profile {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 4px;

        .ai-image {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 10px;
          color: rgb(49, 45, 45);
        }
      }

      .chat-message {
        max-width: 80%;
        padding: 5px 14px;
        border-radius: 15px;
        font-size: 12px;
        line-height: 1.4;
        word-wrap: break-word;

        &.user {
          align-self: flex-end;
          background: #0078ff;
          color: #fff;
          border-bottom-right-radius: 4px;
          margin-top: 10px;
        }

        &.ai {
          align-self: flex-start;
          background: rgb(51, 48, 48);
          color: #f1f1f1;
          border-bottom-left-radius: 4px;
        }

        &.typing {
          height: 30px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgb(51, 48, 48);
          border-radius: 15px 15px 15px 0;
          padding: 0;
          margin-bottom: 10px;

          .dot-typing {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            span {
              width: 0.375rem;
              height: 0.375rem;
              background-color: #ccc;
              border-radius: 50%;
              animation: wave 1.2s infinite ease-in-out;
            }

            span:nth-child(1) {
              animation-delay: 0s;
            }
            span:nth-child(2) {
              animation-delay: 0.2s;
            }
            span:nth-child(3) {
              animation-delay: 0.4s;
            }
          }
        }

        @keyframes wave {
          0%,
          60%,
          100% {
            transform: translateY(0);
            opacity: 0.3;
          }
          30% {
            transform: translateY(-6px);
            opacity: 1;
          }
        }
      }
    }
  }

  // Input area
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid rgb(255, 255, 255);
    background-color: #f8f5f5;
    flex-direction: column;

    .image-preview {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      position: relative;
      margin-bottom: 3px;

      .imagePrev {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }

      .closeIconImg {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }
    }
    .chat-input-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      .uploadImage {
        font-size: 24px;
        cursor: pointer;
        color: green;
      }
      input {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 8px;
        outline: none;
        background-color: rgb(240, 233, 233);

        color: #000;
        font-size: 14px;
      }

      .sendIcon {
        font-size: 25px;
        margin-left: 10px;
        color: green;
        cursor: pointer;
      }
    }
  }
}
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  padding-right: 80px;

  .confirmation-modal {
    width: 300px;
    height: fit-content;
    padding: 12px;
    border-radius: 5px;
    background-color: #f8f5f5;

    p {
      font-size: 14px;
      color: #000;
    }

    .bottom {
      margin-top: 10px;
      display: flex;
      justify-content: end;
      gap: 5px;

      .btn-yes {
        background-color: blue;
        border: none;
        font-size: 12px;
        cursor: pointer;
        border-radius: 5px;
        padding: 0 8px;
        color: #fff;
        height: 30px;
        &:hover {
          background-color: rgb(30, 30, 164);
        }
      }
      .btn-no {
        background-color: rgb(47, 40, 40);
        border: none;
        font-size: 12px;
        cursor: pointer;
        border-radius: 5px;
        padding: 0 8px;
        color: #fff;
        height: 30px;
        &:hover {
          background-color: rgb(45, 45, 48);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .chatbot-container {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 233, 233);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    border: 1px solid rgb(255, 255, 255);

    .heading {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #f8f5f5;

      .left {
        display: flex;
        align-items: center;

        img {
          height: 30px;
          width: 30px;
          object-fit: cover;
          border: 1px solid gray;
          border-radius: 50%;
        }
        span {
          font-size: 12px;
          color: rgb(49, 45, 45);
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 8px;

        .refresh {
          font-size: 1.25rem;
          cursor: pointer;
          color: green;
        }
        .closeIcon {
          font-size: 1.25rem;
          color: rgb(49, 45, 45);
          cursor: pointer;
        }
      }
    }

    // Messages area
    .chat-messages {
      flex: 1;
      padding: 15px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      // Custom scrollbar
      scrollbar-width: thin;
      scrollbar-color: #444 #1e1e1e;

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 4px;
      }

      // Message bubbles
      .chat-message {
        max-width: 80%;
        padding: 10px 14px;
        border-radius: 15px;
        font-size: 14px;
        line-height: 1.4;
        word-wrap: break-word;

        &.user {
          align-self: flex-end;
          background: #0078ff;
          color: #fff;
          border-bottom-right-radius: 4px;
          margin-top: 10px;
          font-size: 14px;
        }

        &.ai {
          align-self: flex-start;
          background: rgb(51, 48, 48);
          color: #f1f1f1;
          border-bottom-left-radius: 4px;
          font-size: 14px;
        }

        &.typing {
          height: 30px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgb(51, 48, 48);
          border-radius: 15px 15px 15px 0;
          padding: 0;
          margin-bottom: 10px;

          .dot-typing {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            span {
              width: 0.375rem;
              height: 0.375rem;
              background-color: #ccc;
              border-radius: 50%;
              animation: wave 1.2s infinite ease-in-out;
            }

            span:nth-child(1) {
              animation-delay: 0s;
            }
            span:nth-child(2) {
              animation-delay: 0.2s;
            }
            span:nth-child(3) {
              animation-delay: 0.4s;
            }
          }
        }

        @keyframes wave {
          0%,
          60%,
          100% {
            transform: translateY(0);
            opacity: 0.3;
          }
          30% {
            transform: translateY(-6px);
            opacity: 1;
          }
        }
      }
    }

    // Input area
    .chat-input {
      display: flex;
      padding: 10px;
      border-top: 1px solid rgb(255, 255, 255);
      background-color: #f8f5f5;
      flex-direction: column;

      .image-preview {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 3px;

        .imagePrev {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }

        .closeIconImg {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
        }
      }
      .chat-input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        .uploadImage {
          font-size: 24px;
          cursor: pointer;
          color: green;
        }
        input {
          flex: 1;
          padding: 10px;
          border: none;
          border-radius: 8px;
          outline: none;
          background-color: rgb(240, 233, 233);

          color: #000;
          font-size: 14px;
          width: 80%;
        }

        .sendIcon {
          font-size: 25px;
          margin-left: 10px;
          color: green;
          cursor: pointer;
        }
      }
    }
  }

  .confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    padding-right: 0;

    .confirmation-modal {
      width: 300px;
      height: fit-content;
      padding: 12px;
      border-radius: 5px;
      background-color: #f8f5f5;

      p {
        font-size: 14px;
        color: #000;
      }

      .bottom {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        gap: 5px;

        .btn-yes {
          background-color: blue;
          border: none;
          font-size: 12px;
          cursor: pointer;
          border-radius: 5px;
          padding: 0 8px;
          color: #fff;
          height: 30px;
          &:hover {
            background-color: rgb(30, 30, 164);
          }
        }
        .btn-no {
          background-color: rgb(47, 40, 40);
          border: none;
          font-size: 12px;
          cursor: pointer;
          border-radius: 5px;
          padding: 0 8px;
          color: #fff;
          height: 30px;
          &:hover {
            background-color: rgb(45, 45, 48);
          }
        }
      }
    }
  }
}
