.client-home {
  width: 100%;
  background-color: #f5f5f5;

  .hero {
    width: 100%;
    display: flex;
    height: 633px;
    background-color: #f5f5f5;

    .hero-left {
      width: 75%;
      position: relative;

      .wave-bg {
        width: 100%;
        height: 100%;
      }

      .hero-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 200px 100px 100px;

        h1 {
          color: #fbe4d6;
          font-size: 42px;
          line-height: 2.3125rem;
          letter-spacing: 0.5px;
          margin-bottom: 15px;
        }

        h6 {
          font-size: 0.875rem;
          color: lightgrey;
          margin-bottom: 7px;
        }

        .buttons {
          display: flex;
          gap: 5px;
          margin-top: 15px;
          button {
            background-color: green;
            padding: 8px 25px;
            font-size: 0.875rem;
            font-weight: 500;
            color: #fff;
            border-radius: 25px;
            cursor: pointer;
            border: none;

            &:hover {
              background-color: #1b1694;
            }

            &:first-child {
              background-color: #007bff;

              &:hover {
                background-color: #0069d9;
              }
            }
          }
        }
      }
    }
    .hero-right {
      width: 25%;
      padding-top: 85px;

      .dog-img {
        width: 75%;
        height: 85%;
      }
      .trusted-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        span {
          font-size: 12px;
          color: #4b4747;
        }
        .trusted {
          display: flex;
          align-items: center;
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid gray;
            margin-left: -10px;
          }

          span {
            font-weight: 500;
            font-size: 20px;
            margin-left: 3px;
            color: #181717;
          }
        }
      }
    }
  }

  .services {
    padding: 0 100px;
    margin-top: -110px;

    h2 {
      font-size: 16px;
      margin-bottom: 10px;
      display: none;
      color: #000;
    }

    .servives-container {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      gap: 7px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      padding: 10px 0;

      .services-card {
        background-color: #fff;
        padding: 7px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 130px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        z-index: 100;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 5px;
        transition: all ease 0.3s;
        &:hover {
          transform: translateY(-5px);
        }

        img {
          height: 60px;
          width: 60px;
          object-fit: cover;
        }
        span {
          color: #000;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
    }
  }

  .search-container {
    width: 100%;
    padding: 10px 120px;
    margin-top: 30px;
    display: flex;
    justify-content: end;

    .search-input-icon {
      display: flex;
      width: 50%;
      height: 45px;
      border-radius: 25px;
      padding: 15px;
      background-color: #fff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

      align-items: center;

      input {
        width: 100%;
        border: none;
        height: 100%;
        background-color: #fff;

        &:focus {
          outline: none;
        }
      }

      .search-icon {
        font-size: 1.625rem;
        cursor: pointer;
        color: #000;
      }
    }
  }

  .veterinarian-container {
    display: flex;
    flex-direction: column;
    padding: 10px 120px;
    margin-top: 20px;

    h2 {
      font-size: 1rem;
      margin-bottom: 10px;
      color: #000;
    }

    .veterinarian {
      width: 100%;
      display: flex;
      gap: 25px;
      height: auto;
      flex-wrap: wrap;

      .veterinarian-wrapper {
        width: 48%;
        display: flex;
        gap: 10px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;

        .veterinarian-profile {
          height: 140px;
          width: 140px;
          border-radius: 6px;
          object-fit: cover;
        }

        .veterinarian-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .veterinarian-name-button-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .name-rule {
              display: flex;
              flex-direction: column;

              .name {
                font-size: 1rem;
                font-weight: 500;
                color: #000;
                display: flex;
                align-items: center;

                .icon {
                  font-size: 1rem;
                }
              }
              .rule {
                font-size: 0.75rem;
                color: gray;
                margin-left: 15px;
              }
            }

            button {
              border: none;
              font-size: 0.875rem;
              font-weight: 500;
              cursor: pointer;
              background-color: #fff;
              font-size: 1.375rem;
              color: #000;

              .icon-view {
                color: #007bff;
              }
            }
          }

          .btn-set-appointment {
            background-color: #007bff;
            padding: 10px 0;
            color: #fff;
            font-size: 0.75rem;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            transition: background-color 0.2s ease, transform 0.2s ease;

            &:hover {
              background-color: #0069d9;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .client-home {
    width: 100%;
    background-color: rgb(243, 238, 238);

    .hero {
      width: 100%;
      display: flex;
      height: 300px;
      background-color: rgb(243, 238, 238);

      .hero-left {
        width: 75%;
        position: relative;

        .wave-bg {
          width: 100%;
          height: 100%;
        }

        .hero-wrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          padding: 120px 20px 100px 20px;

          h1 {
            color: #fbe4d6;
            font-size: 1rem;
            line-height: 1rem;
            letter-spacing: 0.5px;
            margin-bottom: 15px;
          }

          h6 {
            font-size: 0.875rem;
            color: lightgrey;
            margin-bottom: 7px;
            margin-right: 20px;
          }

          .buttons {
            display: flex;
            gap: 5px;
            margin-top: 15px;
            button {
              background-color: green;
              padding: 6px 14px;
              font-size: 0.875rem;
              font-weight: 500;
              color: #fff;
              border-radius: 25px;
              cursor: pointer;
              border: none;

              &:hover {
                background-color: #1b1694;
              }

              &:first-child {
                background-color: #007bff;

                &:hover {
                  background-color: #0069d9;
                }
              }
            }
          }
        }
      }
      .hero-right {
        width: 25%;
        padding-top: 80px;
        position: relative;

        .dog-img {
          width: 80%;
          height: 70%;
        }

        .trusted-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 20px;
          position: absolute;
          bottom: 0;
          right: 10px;
          span {
            font-size: 12px;
            color: #4b4747;
          }
          .trusted {
            display: flex;
            align-items: center;
            width: 100%;
            display: flex;
            justify-content: center;

            img {
              height: 25px;
              width: 25px;
              border-radius: 50%;
              object-fit: cover;
              border: 1px solid gray;
              margin-left: -10px;
            }

            span {
              font-weight: 500;
              font-size: 16px;
              margin-left: 3px;
              color: #181717;
            }
          }
        }
      }
    }

    .services {
      padding: 0 10px;
      margin-top: 20px;

      h2 {
        font-size: 16px;
        margin-bottom: 10px;
        display: flex;
      }

      .servives-container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 7px;
        overflow-x: scroll;
        .services-card {
          background-color: #fff;
          padding: 7px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          width: 120px;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;

          img {
            height: 50px;
            width: 50px;
            object-fit: cover;
          }
          span {
            color: #000;
          }
        }
      }
    }

    .search-container {
      width: 100%;
      padding: 10px;

      .search-input-icon {
        display: flex;
        width: 100%;
        height: 45px;
        border-radius: 25px;
        padding: 15px;
        background-color: #fff;
        align-items: center;

        input {
          width: 100%;
          border: none;
          height: 100%;
          background-color: #fff;

          &::focus {
            outline: none;
          }
        }

        .search-icon {
          font-size: 1.625rem;
          cursor: pointer;
          color: #007bff;
        }
      }
    }

    .veterinarian-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-top: 20px;

      h2 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .veterinarian {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        position: relative;

        .veterinarian-wrapper {
          width: 100%;
          display: flex;
          height: 100px;
          gap: 10px;
          background-color: #fff;

          .veterinarian-profile {
            height: 100%;
            width: 100px;
            border-radius: 6px;
            object-fit: cover;
          }

          .veterinarian-info {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .veterinarian-name-button-wrapper {
              width: 100%;
              display: flex;
              justify-content: space-between;

              .name-rule {
                display: flex;
                flex-direction: column;

                .name {
                  font-size: 0.875rem;
                  font-weight: 700;
                  color: #292222;
                }
                .rule {
                  font-size: 0.625rem;
                  color: gray;
                }
              }

              button {
                border: none;
                font-size: 1.25rem;
                font-weight: 500;
                cursor: pointer;
                color: #000;
                background-color: #fff;

                .icon-view {
                  color: #007bff;
                  font-size: 1rem;
                }
              }
            }

            .btn-set-appointment {
              background-color: #007bff;
              padding: 6px 12px;
              color: #fff;
              font-size: 0.75rem;
              cursor: pointer;
              border-radius: 25px;
              border: none;
              align-self: end;
              width: 100%;
              max-width: fit-content;
            }
          }
        }
      }
    }
  }
}
