.setappointment {
  width: 100%;
  height: 100vh;

  .setappointment-container {
    width: 100%;
    height: 100%;
    display: flex;

    .setappointment-top {
      width: 50%;
      height: 100%;
      background-color: #0c0950;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-right: -20px;
      z-index: 2;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .profile-wrapper {
        width: 450px;
        height: 450px;
        border-radius: 50%;

        .profile {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      h3 {
        font-size: 1.5rem;
        color: #fff;
        margin-top: 10px;
        display: flex;
        align-items: center;

        .icon {
          margin-right: 5px;
        }
      }
      span {
        font-size: 1rem;
        font-weight: 500;
        color: lightgray;
      }
    }

    .setappointment-bot {
      background-color: #fff;
      width: 55%;
      height: 100%;
      padding: 80px 100px 10px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;

      .profile-wrapper {
        display: none;
      }

      .dr-name2 {
        display: none;
      }

      .petinfo-form {
        width: 100%;
        background-color: transparent;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .note {
          font-size: 1.125rem;
          color: #0c0950;
          align-self: center;
          margin-bottom: 20px;
          text-align: center;
        }

        .form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .service-petname {
            width: 100%;
            display: flex;
            gap: 10px;

            .input-wrapper-select-services {
              width: 50%;
              display: flex;
              flex-direction: column;
              label {
                font-size: 0.75rem;
                color: #0c0950;
              }

              select {
                height: 38px;
                width: 100%;
                padding: 0 10px;
                border-radius: 5px;
                border: 1px solid #0c0950;
              }
            }

            .input-wrapper {
              width: 50%;
              display: flex;
              flex-direction: column;
              label {
                font-size: 0.75rem;
                color: #0c0950;
              }

              input {
                height: 38px;
                width: 100%;
                padding: 0 10px;
                border-radius: 5px;
                border: 1px solid #0c0950;
              }
            }
          }

          .type-breed {
            display: flex;
            gap: 10px;

            .input-wrapper {
              width: 100%;
              display: flex;
              flex-direction: column;
              label {
                font-size: 0.75rem;
                color: #0c0950;
              }

              select {
                height: 38px;
                width: 100%;
                padding: 0 10px;
                border-radius: 5px;
              }
            }

            .input-wrapper {
              width: 100%;
              display: flex;
              flex-direction: column;
              label {
                font-size: 0.75rem;
                color: #0c0950;
              }

              input {
                height: 38px;
                width: 100%;
                padding: 0 10px;
                border-radius: 5px;
                border: 1px solid #0c0950;
              }
            }
          }

          .age-weight {
            display: flex;
            gap: 10px;
            .input-wrapper {
              width: 100%;
              display: flex;
              flex-direction: column;
              label {
                font-size: 0.75rem;
                color: #0c0950;
              }

              input {
                height: 38px;
                width: 100%;
                padding: 0 10px;
                border-radius: 5px;
                border: 1px solid #0c0950;
              }
            }
          }

          .radio-wrapper {
            display: flex;
            width: 100%;

            .input-wrapper {
              display: flex;
              flex-direction: column;
              width: 50%;
              label {
                font-size: 0.75rem;
                color: #0c0950;
                margin-bottom: 5px;
              }

              .male-female {
                display: flex;
                gap: 30px;

                .gender-wrapper {
                  display: flex;
                  flex-direction: column;

                  input {
                    border: 1px solid #0c0950;
                  }
                  label {
                    font-size: 0.625rem;
                  }
                }
              }
            }
          }

          .text-area-wrapper {
            display: flex;
            flex-direction: column;
            label {
              font-size: 0.75rem;
              color: #0c0950;
            }
            textarea {
              width: 100%;
              border: none;
              border: 1px solid #0c0950;
              border-radius: 5px;
              padding: 5px;
              font-size: 14px;
            }
          }

          .button {
            display: flex;
            width: 100%;
            justify-content: end;

            .next-icon {
              align-items: end;
              font-size: 1.25rem;
              color: #0c0950;
              cursor: pointer;
            }
          }
        }
      }

      .date-available {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .note {
          font-size: 1.125rem;
          color: #0c0950;
          text-align: center;
          margin-bottom: 20px;
        }

        h6 {
          font-size: 0.875rem;
          color: #0c0950;
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          .calendar-icon {
            font-size: 20px;
            margin-right: 5px;
          }
        }

        .dates-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          span {
            font-size: 0.875rem;
            color: #0c0950;
          }
          .date-input {
            height: 38px;
            border: none;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
              rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            width: 200px;
            justify-content: space-between;
            padding: 0 10px;

            input {
              width: 100%;
              font-size: 12px;
              color: #0c0950;
              cursor: pointer;
              padding: 5px 8px;
              border-radius: 5px;
              border: none;
              background-color: transparent;

              &:focus {
                outline: none;
              }
            }

            .icon {
              font-size: 1.125rem;
              color: #0c0950;
            }
          }
        }
      }

      .time-available {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        h6 {
          font-size: 0.875rem;
          color: #0c0950;
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          .clock-icon {
            font-size: 20px;
            margin-right: 5px;
          }
        }

        .times-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 20px;
          flex-wrap: wrap;

          .time {
            width: 30%;
            font-size: 12px;
            color: #0a4b5e;
            cursor: pointer;
            border: none;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
              rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            padding: 5px 8px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.selected {
              background-color: #0c0950;
              color: #fff;
            }
          }

          .no-avslot {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
              height: 50px;
              width: 50px;
            }

            p {
              font-size: 12px;
              color: gray;
            }
          }
        }

        .choose-date {
          width: 70%;
          display: flex;
          justify-content: center;

          span {
            font-size: 0.875rem;
            color: #2a3335;
            text-align: center;
          }
        }

        .set-appointment-wrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 25px;
          align-items: center;
          gap: 50px;

          .back-icon {
            font-size: 1.25rem;
            cursor: pointer;
            color: #0c0950;
          }

          .btn-setappointment {
            width: 100%;
            padding: 7px 0;
            font-size: 0.75rem;
            background-color: #261fb3;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            color: #fff;
            height: 37px;

            &:hover {
              background-color: #161179;
            }
          }
        }
      }
    }
  }
}

.payment-summary {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1999;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 500px;
    height: auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      h4 {
        color: #2a3335;
        font-size: 1.25rem;
      }

      .icon {
        display: none;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        color: #2a3335;
        font-size: 0.875rem;
        display: flex;
        align-items: center;

        .icon {
          color: gray;
          font-size: 0.875rem;
          margin-right: 5px;
        }
      }

      .hr {
        border-bottom: 1px solid gray;
      }

      .total-price {
        font-size: 0.875rem;
        color: #000;

        display: flex;
        align-items: center;
        h3 {
          color: #2a3335;
          margin-left: 30px;
          font-size: 25px;
        }
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: end;
      gap: 10px;
      margin-top: 20px;

      .btn-cancel {
        background-color: rgb(77, 71, 71);
        font-size: 0.875rem;
        font-weight: 500;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        color: #fff;
        padding: 5px 10px;

        &:hover {
          background-color: rgb(37, 34, 34);
        }
      }

      .btn-submit {
        background-color: green;
        font-size: 0.875rem;
        font-weight: 500;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        color: #fff;
        padding: 5px 10px;
        width: 180px;

        &:hover {
          background-color: rgb(28, 78, 5);
        }
      }
    }
  }
}
.no-internet {
  background-color: lightgrey;
  position: fixed;
  top: 90%;
  left: 36%;
  transform: translate(-50%, -50%);
  z-index: 3333;
  padding: 4px 10px;
  border-radius: 3px;

  span {
    font-size: 12px;
    color: #000;
  }
}

@media (max-width: 786px) {
  .setappointment {
    width: 100%;
    height: 100%;

    .setappointment-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .setappointment-top {
        width: 100%;
        height: 170px;
        background-color: #0c0950;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1;

        .profile-wrapper {
          display: none;
          width: 150px;
          height: 150px;
          .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        h3 {
          display: none;
        }
        span {
          display: none;
        }
      }

      .setappointment-bot {
        background-color: #fff;
        width: 100%;
        height: 90%;
        margin-top: -10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 50px 10px 10px 10px;
        z-index: 2;

        .profile-wrapper {
          display: flex;
          width: 110px;
          height: 110px;
          background-color: #fbe4d6;
          border-radius: 50%;
          margin-top: -120px;
          .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .dr-name2 {
          color: #0c0950;
          display: flex;
          align-items: center;

          .icon {
            font-size: 1rem;
          }
        }

        .petinfo-form {
          width: 100%;
          background-color: #fff;
          padding: 30px 20px 20px 20px;
          border-radius: 10px;
          .note {
            font-size: 1.125rem;
            color: #0c0950;
            text-align: center;
          }

          .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .service-petname {
              width: 100%;
              display: flex;
              gap: 10px;

              .input-wrapper-select-services {
                width: 50%;
                display: flex;
                flex-direction: column;
                label {
                  font-size: 0.75rem;
                  color: #0c0950;
                }

                select {
                  height: 38px;
                  width: 100%;
                  padding: 0 10px;
                  border-radius: 5px;
                  border: 1px solid lightgray;
                }
              }

              .input-wrapper {
                width: 50%;
                display: flex;
                flex-direction: column;
                label {
                  font-size: 0.75rem;
                  color: #0c0950;
                }

                input {
                  height: 38px;
                  width: 100%;
                  padding: 0 10px;
                  border-radius: 5px;
                  border: 1px solid lightgray;
                }
              }
            }

            .type-breed {
              display: flex;
              gap: 10px;

              .input-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                label {
                  font-size: 0.75rem;
                  color: #0c0950;
                }

                select {
                  height: 38px;
                  width: 100%;
                  padding: 0 10px;
                  border-radius: 5px;
                  border: 1px solid lightgrey;
                }
              }

              .input-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                label {
                  font-size: 0.75rem;
                  color: #0c0950;
                }

                input {
                  height: 38px;
                  width: 100%;
                  padding: 0 10px;
                  border-radius: 5px;
                  border: 1px solid lightgrey;
                }
              }
            }

            .age-weight {
              display: flex;
              gap: 10px;
              .input-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                label {
                  font-size: 0.75rem;
                  color: #0c0950;
                }

                input {
                  height: 38px;
                  width: 100%;
                  padding: 0 10px;
                  border-radius: 5px;
                  border: 1px solid lightgrey;
                }
              }
            }

            .radio-wrapper {
              display: flex;
              width: 100%;

              .input-wrapper {
                display: flex;
                flex-direction: column;
                width: 50%;
                label {
                  font-size: 0.75rem;
                  color: #0c0950;
                  margin-bottom: 5px;
                }

                .male-female {
                  display: flex;
                  gap: 30px;

                  .gender-wrapper {
                    display: flex;
                    flex-direction: column;

                    input {
                      border: 1px solid #0c0950;
                    }
                    label {
                      font-size: 0.625rem;
                    }
                  }
                }
              }
            }
            .text-area-wrapper {
              display: flex;
              flex-direction: column;
              label {
                font-size: 0.75rem;
                color: #0c0950;
              }
              textarea {
                width: 100%;
                border: 1px solid lightgrey;
                border-radius: 5px;
                padding: 5px;
                font-size: 14px;
                height: 110px;
              }
            }

            .button {
              display: flex;
              width: 100%;
              justify-content: end;

              .next-icon {
                align-items: end;
                font-size: 1.25rem;
                color: #0c0950;
                cursor: pointer;
              }
            }
          }
        }

        .date-available {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;

          .note {
            font-size: 1.125rem;
            color: #0c0950;
            text-align: center;
            margin-bottom: 15px;
          }
          h6 {
            font-size: 0.875rem;
            color: #0c0950;
            margin-bottom: 10px;
          }

          .dates-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;

            span {
              font-size: 0.875rem;
              color: #0c0950;
            }

            .date-input {
              height: 38px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              width: 200px;
              justify-content: space-between;
              padding: 0 10px;

              input {
                width: 100%;
                font-size: 12px;
                color: #0c0950;
                cursor: pointer;
                padding: 5px 8px;
                border-radius: 5px;
                border: none;
                background-color: transparent;

                &:focus {
                  outline: none;
                }
              }

              .icon {
                font-size: 1.125rem;
                color: #0c0950;
              }
            }
          }
        }

        .time-available {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 50px;

          h6 {
            font-size: 0.875rem;
            color: #0c0950;
            margin-bottom: 10px;
          }

          .times-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;

            .time {
              width: 45%;
              font-size: 12px;
              color: #0a4b5e;
              cursor: pointer;
              padding: 5px 8px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;

              &.selected {
                background-color: #0c0950;
                color: #fff;
              }
            }
          }

          .set-appointment-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 25px;
            align-items: center;
            gap: 50px;
            padding: 0 25px;

            .back-icon {
              font-size: 1.25rem;
              cursor: pointer;
              color: #0c0950;
            }

            .btn-setappointment {
              width: 100%;
              padding: 7px 0;
              font-size: 0.75rem;
              background-color: #261fb3;
              cursor: pointer;
              border: none;
              border-radius: 5px;
              color: #fff;
              height: 37px;

              &:hover {
                background-color: #161179;
              }
            }
          }
        }
      }
    }
  }

  .payment-summary {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1999;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: 98%;
      height: auto;
      background-color: #fff;
      padding: 15px;
      border-radius: 7px;

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        h4 {
          color: #2a3335;
          font-size: 1.25rem;
        }

        .icon {
          display: none;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          color: #2a3335;
          font-size: 0.875rem;
          display: flex;
          align-items: center;

          .icon {
            color: gray;
            font-size: 0.875rem;
            margin-right: 5px;
          }
        }

        .hr {
          border-bottom: 1px solid gray;
        }

        .total-price {
          font-size: 0.875rem;
          color: #000;

          display: flex;
          align-items: center;
          h3 {
            color: #2a3335;
            margin-left: 30px;
            font-size: 25px;
          }
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 10px;
        margin-top: 20px;

        .btn-cancel {
          background-color: rgb(77, 71, 71);
          font-size: 0.875rem;
          font-weight: 500;
          cursor: pointer;
          border: none;
          border-radius: 3px;
          color: #fff;
          padding: 5px 10px;

          &:hover {
            background-color: rgb(37, 34, 34);
          }
        }

        .btn-submit {
          background-color: green;
          font-size: 0.875rem;
          font-weight: 500;
          cursor: pointer;
          border: none;
          border-radius: 3px;
          color: #fff;
          padding: 5px 10px;
          width: 180px;

          &:hover {
            background-color: rgb(28, 78, 5);
          }
        }
      }
    }
  }

  .no-internet {
    background-color: lightgrey;
    position: fixed;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 3333;
    padding: 4px 10px;
    border-radius: 3px;
    width: 70%;

    span {
      font-size: 12px;
      color: #000;
      text-align: center;
    }
  }
}
