.emptydata {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;

  img {
    width: 70px;
    height: 70px;
  }

  .title-empty-data {
    font-size: 0.75rem;
    color: rgb(136, 132, 132);
    text-align: center;
    width: 80%;
  }
  .description {
    text-align: center;
    max-width: 70%;
    font-size: 0.875rem;
    color: gray;
  }

  .btn-reload {
    background-color: #007bff;
    border: none;
    height: 30px;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;

    &:hover {
      background-color: #1860ad;
    }
  }
}

@media (max-width: 786px) {
  .emptydata {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 70px;
      height: 70px;
    }

    .title-empty-data {
      color: rgb(136, 132, 132);
      font-size: 1rem;
    }

    .description {
      text-align: center;
      max-width: 89%;
      font-size: 0.875rem;
      color: gray;
    }
  }
}
