.admin-sidebar {
  width: 220px;
  height: 100vh;
  background-color: #0c0950;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;

  .top {
    padding: 20px;

    .top-container {
      width: 100%;
      height: 100%;
      padding: 20px 20px 40px 20px;
      border-bottom: 1px solid rgb(139, 132, 132);
      display: flex;
      justify-content: center;
      align-items: start;

      img {
        width: 90%;
        height: auto;
      }
    }
  }

  ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .item {
      font-size: 14px;
      cursor: pointer;
      color: #ffffff;
      display: flex;
      align-items: center;
      padding: 7px;

      &.active {
        border-radius: 5px;
        background-color: rgb(6, 8, 107);

        border: 1px solid #07468a;
      }

      .link-icon {
        font-size: 1.25rem;
        margin-right: 7px;
        margin-bottom: -5px;
      }
    }

    .dropdown {
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-top: 10px;
      padding-left: 25px;
      gap: 5px;
      background-color: rgb(6, 8, 107);
      border-radius: 5px;
      border: 1px solid #07468a;

      .btn-li {
        background-color: rgb(6, 8, 107);
        color: lightgray;
        border: none;
        text-align: start;
        font-size: 0.75rem;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;

        &:hover {
          background-color: #0c0950;
        }
        &:first-child {
          margin-top: 10px;
        }
      }
    }
  }
}

.overlay-admin {
  display: none;
}

@media (max-width: 786px) {
  .admin-sidebar {
    width: 220px;
    height: 100vh;
    background-color: #0c0950;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1001;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;

    &.show {
      left: 0;
    }

    .top {
      padding: 20px;

      img {
        width: 90%;
        height: auto;
      }
    }

    ul {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      .item {
        font-size: 14px;
        cursor: pointer;
        color: #fbe4d6;
        display: flex;
        align-items: center;

        .link-icon {
          font-size: 1.25rem;
          margin-right: 7px;
        }
      }

      .dropdown {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-top: 10px;
        padding-left: 25px;
        gap: 5px;
        background-color: rgb(6, 8, 107);
        border-radius: 5px;
        .btn-li {
          background-color: rgb(6, 8, 107);
          color: lightgray;
          border: none;
          text-align: start;
          font-size: 0.75rem;
          margin-bottom: 5px;
          padding: 5px;
          border-radius: 5px;

          &:hover {
            background-color: #0c0950;
          }
          &:first-child {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .overlay-admin {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: -100%;
    z-index: 1000;

    &.show {
      left: 0;
    }
  }
}
