* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #fff;
  }

  html {
    scroll-behavior: smooth;
  }

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.0313rem;
}
