.notification-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;

  .fa-appointment {
    width: 500px;
    background-color: #fff;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    z-index: 2999;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 3px;
    margin-right: 3px;

    .top {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 10px;
      h6 {
        font-size: 16px;
        color: #0c0950;
      }

      .icon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .notification-content {
      width: 100%;
      display: flex;
      flex-direction: column;

      .card {
        width: 100%;
        display: flex;
        background-color: #eee7e7;
        padding: 8px;
        height: auto;
        margin-bottom: 3px;

        .left {
          width: 50px;
          height: auto;
          margin-right: 10px;

          img {
            width: 100%;
            height: auto;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;

          .top {
            display: flex;
            flex-direction: column;
            align-items: start;
            .title {
              font-size: 10px;
              font-weight: 400;
              color: #4e4e52;
            }

            p {
              font-size: 14px;
              font-weight: 400;
              color: #26262b;
              margin-top: 10px;
            }
          }

          .bot {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .time-sent {
              font-size: 10px;
              color: #26262b;
            }

            .buttons {
              display: flex;
              align-items: center;
              gap: 10px;
              .btn-approved {
                background-color: blue;
                border: none;
                color: #fff;
                font-size: 12px;
                border-radius: 4px;
                cursor: pointer;
                padding: 3px 8px;

                &:hover {
                  background-color: #06216b;
                }
                &.set {
                  background-color: green;
                  cursor: not-allowed;

                  &:hover {
                    background-color: green;
                  }
                }
              }
              .btn-cancel {
                background-color: rgb(61, 61, 65);
                border: none;
                color: #fff;
                font-size: 12px;
                border-radius: 4px;
                cursor: pointer;
                padding: 3px 8px;

                &:hover {
                  background-color: #37383d;
                }
              }
            }
          }
        }
      }

      .view-more-btn {
        background-color: transparent;
        font-size: 12px;
        cursor: pointer;
        border: none;
        margin-top: 20px;
      }
    }
  }
}

.modal-edit-sched-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-edit-sched {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;

    .top {
      width: 100%;
    }

    .date-available {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .note {
        font-size: 1.125rem;
        color: #0c0950;
        text-align: center;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 0.875rem;
        color: #0c0950;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .calendar-icon {
          font-size: 20px;
          margin-right: 5px;
        }
      }

      .dates-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        span {
          font-size: 0.875rem;
          color: #0c0950;
        }
        .date-input2 {
          height: 38px;
          border: none;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          width: 200px;
          justify-content: space-between;
          padding: 0 10px;

          input {
            width: 100%;
            font-size: 12px;
            color: #0c0950;
            cursor: pointer;
            padding: 5px 8px;
            border-radius: 5px;
            border: none;
            background-color: transparent;

            &:focus {
              outline: none;
            }
          }

          .icon {
            font-size: 1.125rem;
            color: #0c0950;
          }
        }
      }
    }

    .time-available {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;

      h6 {
        font-size: 0.875rem;
        color: #0c0950;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .clock-icon {
          font-size: 20px;
          margin-right: 5px;
        }
      }

      .times-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        .time2 {
          width: 30%;
          font-size: 12px;
          color: #0a4b5e;
          cursor: pointer;
          border: none;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          padding: 5px 8px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          &.selected {
            background-color: #0c0950;
            color: #fff;
          }
        }

        .no-avslot {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          img {
            height: 50px;
            width: 50px;
          }

          p {
            font-size: 12px;
            color: gray;
          }
        }
      }

      .choose-date {
        width: 70%;
        display: flex;
        justify-content: center;

        span {
          font-size: 0.875rem;
          color: #2a3335;
          text-align: center;
        }
      }

      .set-appointment-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 25px;
        align-items: center;
        gap: 50px;

        .back-icon {
          font-size: 1.25rem;
          cursor: pointer;
          color: #0c0950;
        }

        .btn-setappointment {
          width: 100%;
          padding: 7px 0;
          font-size: 0.75rem;
          background-color: #261fb3;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          color: #fff;
          height: 37px;

          &:hover {
            background-color: #161179;
          }

          &:disabled {
            background-color: gray;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.no-internet {
  background-color: lightgrey;
  position: fixed;
  top: 90%;
  left: 36%;
  transform: translate(-50%, -50%);
  z-index: 3333;
  padding: 4px 10px;
  border-radius: 3px;

  span {
    font-size: 12px;
    color: #000;
  }
}

@media (max-width: 786px) {
  .notification-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: end;

    .fa-appointment {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px;

      .top {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 30px;
        h6 {
          font-size: 16px;
          color: #0c0950;
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .notification-content {
        width: 100%;
        display: flex;
        flex-direction: column;

        .card {
          width: 100%;
          display: flex;
          background-color: #eee7e7;
          padding: 8px;
          height: auto;
          margin-bottom: 3px;

          .left {
            width: 100px;
            height: auto;
            margin-right: 10px;

            img {
              width: 100%;
              height: auto;
              border-radius: 5px;
            }
          }

          .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .top {
              display: flex;
              flex-direction: column;
              .title {
                font-size: 10px;
                font-weight: 400;
                color: #4e4e52;
              }

              p {
                font-size: 14px;
                font-weight: 400;
                color: #26262b;
                margin-top: 10px;
              }
            }

            .bot {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .time-sent {
                font-size: 10px;
                color: #26262b;
              }

              .buttons {
                display: flex;
                align-items: center;
                gap: 10px;
                .btn-approved {
                  background-color: blue;
                  border: none;
                  color: #fff;
                  font-size: 12px;
                  border-radius: 4px;
                  cursor: pointer;
                  padding: 3px 8px;

                  &:hover {
                    background-color: #06216b;
                  }
                }
                .btn-cancel {
                  background-color: rgb(61, 61, 65);
                  border: none;
                  color: #fff;
                  font-size: 12px;
                  border-radius: 4px;
                  cursor: pointer;
                  padding: 3px 8px;

                  &:hover {
                    background-color: #37383d;
                  }
                }
              }
            }
          }
        }

        .btn-viewmore {
          background-color: transparent;
          font-size: 12px;
          cursor: pointer;
          border: none;
          margin-top: auto;
        }
      }
    }
  }
  .no-internet {
    background-color: lightgrey;
    position: fixed;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 3333;
    padding: 4px 10px;
    border-radius: 3px;
    width: 70%;

    span {
      font-size: 12px;
      color: #000;
      text-align: center;
    }
  }
}
