.terms-cons-overlay {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 3333;
  display: flex;
  justify-content: center;
  align-items: center;

  .close-icon {
    font-size: 1.875rem;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 50px;
    color: gray;
  }
  .terms-cons {
    width: 900px;
    height: 90%;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
    overflow-y: auto;
    border-left: 5px solid #170fb1;

    .top {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(216, 216, 221);
      padding-bottom: 20px;
      h6 {
        color: #000;
        font-size: 16px;
      }
    }

    .title {
      width: 100%;
      margin-bottom: 50px;
      span {
        font-size: 0.875rem;
        color: #000;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .list {
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.875rem;
          font-weight: 500;
          color: #000;
          margin-bottom: 3px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 3px;
          li {
            font-size: 0.875rem;
            color: #000;
          }
        }
      }
    }
  }
}
