.admin-nav {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #fff;

  h3 {
    color: #0c0950;
  }

  .admin-icon {
    font-size: 25px;
    color: #0c0950;
    cursor: pointer;
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 786px) {
  .admin-nav {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    justify-content: space-between;

    .admin-icon {
      display: none;
      font-size: 25px;
      color: #0c0950;
      cursor: pointer;
    }

    .menu-icon {
      display: flex;
      font-size: 20px;
      cursor: pointer;
      color: #0c0950;
    }
  }
}
