.veterinarian-home {
  width: 100%;
  height: 100vh;

  .container {
    width: 100%;
    display: flex;
    height: 100%;
    background-color: #fff;

    .left {
      width: 50%;
      height: 100%;
      background-color: #0c0950;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      padding: 70px 100px 0 100px;

      display: flex;
      justify-content: center;
      align-items: center;

      .profile-wrapper {
        width: 300px;
        height: 300px;
        border-radius: 50%;

        .profile {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .name-rule {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          color: #fbe4d6;
          font-size: 1.875rem;
          display: flex;
          align-items: center;

          .icon {
            margin-right: 10px;
          }
        }

        span {
          font-size: 1.125rem;
          font-weight: 500;
          color: lightgrey;
        }
      }
    }

    .right {
      padding: 80px 100px 0 100px;
      width: 50%;
      height: 100%;
      overflow-y: auto;

      .right-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;

        .today-appointment {
          display: flex;
          flex-direction: column;

          h4 {
            font-size: 1.125rem;
            color: #000000;
            margin-bottom: 5px;
          }

          .card {
            width: 100%;
            height: 100px;
            display: flex;
            background-color: #fff;
            padding: 7px;
            border-radius: 5px;
            margin-bottom: 8px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

            .left-card {
              height: 100%;
              margin-right: 10px;
              width: 110px;
              .profile-card {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
              }
            }

            .right-card {
              width: 100%;
              position: relative;
              .top {
                display: flex;
                justify-content: space-between;
                align-items: start;

                .name-info {
                  display: flex;
                  flex-direction: column;

                  .name {
                    font-size: 16px;
                    font-weight: 500;
                    color: #0c0950;
                  }

                  p {
                    font-size: 10px;
                    color: #0c0950;
                  }

                  button {
                    color: #0c0950;
                    font-size: 12px;
                    cursor: pointer;
                    margin-top: 7px;

                    &:hover {
                      background-color: #0c0950;
                      color: #fff;
                    }
                  }
                }
              }

              .bot {
                display: flex;
                justify-content: end;
                .pet {
                  display: flex;

                  .type {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 300;
                    color: #0c0950;
                  }
                }
              }

              .modal-menu {
                position: absolute;
                top: 20px;
                right: 8px;
                width: auto;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                padding: 3px;
                border-radius: 4px;
                .top {
                  width: 100%;
                  display: flex;
                  justify-content: end;

                  .back-icon {
                    cursor: pointer;
                    font-size: 0.75rem;
                    color: #0c0950;
                  }
                }

                .menu {
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  align-items: start;
                  gap: 5px;
                  padding: 7px;

                  .btn {
                    border: none;
                    background-color: transparent;
                    color: #0c0950;
                    font-size: 12px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    .icon {
                      font-size: 14px;
                      color: #0c0950;
                      margin-right: 5px;
                    }

                    &:hover {
                      background-color: #fbe4d6;
                    }
                  }
                }
              }
            }
          }
        }

        .divider {
          width: 100%;
          border-bottom: 1px solid lightgrey;
        }

        .pending-appointment {
          display: flex;
          flex-direction: column;

          h4 {
            font-size: 1.125rem;
            color: #000000;
            margin-bottom: 5px;
          }

          .card {
            width: 100%;
            height: 100px;
            display: flex;
            background-color: #fff;
            padding: 7px;
            border-radius: 5px;
            margin-bottom: 8px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
              rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            .left-card {
              height: 100%;
              margin-right: 10px;
              width: 110px;
              .profile-card {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
              }
            }

            .right-card {
              width: 100%;
              position: relative;
              .top {
                display: flex;
                justify-content: space-between;
                align-items: start;

                .name-info {
                  display: flex;
                  flex-direction: column;

                  .name {
                    font-size: 16px;
                    font-weight: 500;
                    color: #0c0950;
                  }

                  p {
                    font-size: 10px;
                    color: #0c0950;
                  }

                  button {
                    color: #0c0950;
                    font-size: 12px;
                    cursor: pointer;
                    margin-top: 7px;

                    &:hover {
                      background-color: #0c0950;
                      color: #fff;
                    }
                  }
                }
              }

              .bot {
                display: flex;
                justify-content: end;
                .pet {
                  display: flex;

                  .type {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 300;
                    color: #0c0950;
                  }
                }
              }

              .modal-menu {
                position: absolute;
                top: 20px;
                right: 8px;
                width: auto;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                padding: 3px;
                border-radius: 4px;
                .top {
                  width: 100%;
                  display: flex;
                  justify-content: end;

                  .back-icon {
                    cursor: pointer;
                    font-size: 0.75rem;
                    color: #0c0950;
                  }
                }

                .menu {
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  align-items: start;
                  gap: 5px;
                  padding: 7px;

                  .btn {
                    border: none;
                    background-color: transparent;
                    color: #0c0950;
                    font-size: 12px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    .icon {
                      font-size: 14px;
                      color: #0c0950;
                      margin-right: 5px;
                    }

                    &:hover {
                      background-color: #fbe4d6;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.modal-readmore-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-viewmore {
    width: 500px;
    padding: 12px 12px 30px 12px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-height: 95%;
    border-radius: 5px;

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;

      .left {
        width: 70%;
        h6 {
          font-size: 16px;
        }
      }
      .close-icon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 7px;

      .title {
        display: flex;
        justify-content: end;
        border-bottom: 1px solid lightgray;
        margin-bottom: 25px;
        padding-right: 10px;

        span {
          font-size: 0.875rem;
          font-weight: 500;
          margin-bottom: -10px;
          background-color: #fff;
          padding: 3px 12px;
        }
      }

      .top-content {
        width: 100%;
        display: flex;
        gap: 10px;

        .image-wraper {
          width: 120px;
          height: 120px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 5px;
          span {
            display: flex;
            font-size: 1rem;

            strong {
              margin-right: 6px;
            }
          }
        }
      }

      .pet-owner-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;

        .title {
          display: flex;
          justify-content: end;
          border-bottom: 1px solid lightgray;
          margin-bottom: 20px;
          padding-right: 10px;

          span {
            font-size: 0.875rem;
            font-weight: 500;
            margin-bottom: -10px;
            background-color: #fff;
            padding: 3px 12px;
          }
        }
      }

      .appointment-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;

        .title {
          display: flex;
          justify-content: end;
          border-bottom: 1px solid lightgray;
          margin-bottom: 20px;
          padding-right: 10px;
          span {
            font-size: 0.875rem;
            font-weight: 500;
            margin-bottom: -10px;
            background-color: #fff;
            padding: 3px 12px;
          }
        }
      }
    }
  }
}

.modal-followup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  .followup {
    background-color: #fff;
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    height: auto;

    .top {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .card-checklist {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .check-item {
          width: 100%;
          display: flex;
          align-items: start;
          gap: 4px;
          input {
            border: 1px solid #0c0950;
          }

          span {
            font-size: 0.875rem;
            color: #0c0950;
          }
        }
      }

      .payment-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .input-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 50px;

        label {
          font-size: 12px;
          color: #0c0950;
          margin-bottom: 5px;
        }
        .inpt-other-concern {
          width: 100%;
          height: 45px;
          border-radius: 5px;
          font-size: 14px;
          padding: 0 10px;
        }
      }

      .btn-submit {
        margin-top: 5px;
        align-self: end;
        background-color: blue;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;

        &:disabled {
          background-color: gray;
          cursor: not-allowed;
        }
      }
    }
  }
}

//mobile
@media (max-width: 786px) {
  .veterinarian-home {
    width: 100%;
    height: 100vh;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #fff;

      .left {
        width: 100%;
        height: 40%;
        background-color: #0c0950;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding: 60px 20px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-wrapper {
          width: 100%;
          display: flex;
          justify-content: start;
          gap: 15px;
          .profile-wrapper {
            width: 70px;
            height: 70px;
            border-radius: 10px;
            border: 1px solid #fbe4d6;

            .profile {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }

          .name-rule {
            width: auto;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;

            h3 {
              color: #fbe4d6;
              font-size: 1.25rem;
              display: flex;
              align-items: center;

              .icon {
                margin-right: 5px;
              }
            }

            span {
              font-size: 0.875rem;
              font-weight: 500;
              color: lightgrey;
              margin-left: 25px;
            }
          }
        }
      }

      .right {
        padding: 20px 10px 10px 10px;
        width: 100%;
        height: 100%;
        margin-top: -20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #fff;
        overflow-y: auto;

        .right-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 50px;

          .today-appointment {
            display: flex;
            flex-direction: column;

            h4 {
              font-size: 0.875rem;
              color: #0c0950;
              margin-bottom: 5px;
            }

            .card {
              width: 100%;
              height: 100px;
              display: flex;
              background-color: #fff;
              padding: 7px;
              border-radius: 5px;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

              .left-card {
                height: 100%;
                width: 100px;
                margin-right: 10px;
                .profile-card {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 3px;
                }
              }

              .right-card {
                width: 100%;
                .top {
                  display: flex;
                  justify-content: space-between;
                  align-items: start;

                  .name-info {
                    display: flex;
                    flex-direction: column;

                    .name {
                      font-size: 16px;
                      font-weight: 500;
                      color: #0c0950;
                    }

                    p {
                      font-size: 10px;
                      color: #0c0950;
                    }

                    button {
                      color: #0c0950;
                      font-size: 12px;
                      cursor: pointer;
                      margin-top: 7px;

                      &:hover {
                        background-color: #0c0950;
                        color: #fff;
                      }
                    }
                  }
                }

                .bot {
                  display: flex;
                  justify-content: end;
                  .pet {
                    display: flex;

                    .type {
                      display: flex;
                      align-items: center;
                      font-size: 14px;
                      font-weight: 300;
                      color: #0c0950;
                    }
                  }
                }
              }
            }
          }

          .pending-appointment {
            display: flex;
            flex-direction: column;

            h4 {
              font-size: 0.875rem;
              color: #0c0950;
              margin-bottom: 5px;
            }

            .card {
              width: 100%;
              height: 100px;
              display: flex;
              background-color: #fff;
              padding: 7px;
              border-radius: 5px;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

              .left-card {
                height: 100%;
                margin-right: 10px;
                width: 100px;
                .profile-card {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 3px;
                }
              }

              .right-card {
                width: 100%;
                .top {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .name-info {
                    display: flex;
                    flex-direction: column;

                    .name {
                      font-size: 16px;
                      font-weight: 500;
                      color: #0c0950;
                    }

                    p {
                      font-size: 10px;
                      color: #0c0950;
                    }
                  }
                }

                .bot {
                  display: flex;
                  justify-content: end;
                  .pet {
                    display: flex;

                    .type {
                      display: flex;
                      align-items: center;
                      font-size: 14px;
                      font-weight: 300;
                      color: #0c0950;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .modal-readmore-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2999;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-viewmore {
      width: 100%;
      padding: 12px 12px 30px 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      max-height: 100%;
      height: 100%;
      border-radius: 0;

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: center;

        .left {
          width: 70%;

          h6 {
            font-size: 16px;
          }
        }
        .close-icon {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .title {
          display: flex;
          justify-content: end;
          border-bottom: 1px solid lightgray;
          margin-bottom: 25px;
          padding-right: 10px;

          span {
            font-size: 0.875rem;
            font-weight: 500;
            margin-bottom: -10px;
            background-color: #fff;
            padding: 3px 12px;
          }
        }

        .top-content {
          width: 100%;
          display: flex;
          gap: 10px;

          .image-wraper {
            width: 120px;
            height: 120px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            span {
              display: flex;
              font-size: 1rem;

              strong {
                margin-right: 6px;
              }
            }
          }
        }

        .pet-owner-content {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 5px;
          margin-top: 15px;

          .title {
            display: flex;
            justify-content: end;
            border-bottom: 1px solid lightgray;
            margin-bottom: 20px;
            padding-right: 10px;

            span {
              font-size: 0.875rem;
              font-weight: 500;
              margin-bottom: -10px;
              background-color: #fff;
              padding: 3px 12px;
            }
          }
        }

        .appointment-content {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 5px;
          margin-top: 15px;

          .title {
            display: flex;
            justify-content: end;
            border-bottom: 1px solid lightgray;
            margin-bottom: 20px;
            padding-right: 10px;
            span {
              font-size: 0.875rem;
              font-weight: 500;
              margin-bottom: -10px;
              background-color: #fff;
              padding: 3px 12px;
            }
          }
        }
      }
    }
  }

  .modal-followup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2999;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    .followup {
      background-color: #fff;
      width: 98%;
      padding: 10px;
      border-radius: 5px;
      height: auto;

      .top {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
      }

      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .card-checklist {
          display: flex;
          flex-direction: column;
          gap: 7px;

          .check-item {
            width: 100%;
            display: flex;
            align-items: start;
            gap: 4px;
            input {
              border: 1px solid #0c0950;
            }

            span {
              font-size: 0.875rem;
              color: #0c0950;
            }
          }
        }

        .input-wrapper {
          display: flex;
          width: 100%;
          flex-direction: column;
          margin-top: 50px;

          label {
            font-size: 12px;
            color: #0c0950;
            margin-bottom: 5px;
          }
          .inpt-other-concern {
            width: 100%;
            height: 45px;
            border: 1px solid #0c0950;
            border-radius: 5px;
            font-size: 14px;
            padding: 0 10px;
          }
        }

        .btn-submit {
          margin-top: 5px;
          align-self: end;
          background-color: blue;
          color: #fff;
          font-size: 12px;
          font-weight: 500;
          border-radius: 5px;
          border: none;
          padding: 5px 10px;
        }
      }
    }
  }
}
