.appointment {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 150px;

  .container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 90px;

    .top {
      background-color: #0c0950;
      height: 150px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .main-title {
        color: #fbe4d6;
        font-size: 30px;
        border-bottom: 1px solid gray;
        padding-bottom: 7px;
      }
    }
    .title {
      color: #000;
      font-weight: 500;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      margin: 30px 0;
      border-bottom: 1px solid lightgrey;
      padding: 0 20px 20px 20px;
      justify-content: space-between;

      h3 {
        font-size: 20px;
      }
      button {
        background-color: #35168b;
        color: #fff;
        font-size: 12px;
        border: none;
        border-radius: 3px;
        padding: 4px 8px;
        transition: transform ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #4f49bb;
          transform: scale(1.02);
        }
      }
    }
    .myappointment {
      display: flex;
      width: 100%;

      .current-appointment {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;

        .card {
          width: 100%;
          background-color: #fff;
          display: flex;
          padding: 20px;
          gap: 20px;
          border-radius: 10px;

          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

          .profile {
            height: 120px;
            width: 120px;
            object-fit: cover;
          }

          .right-card {
            width: 100%;
            background-color: #fff;
            display: flex;
            justify-content: space-between;

            .top-card {
              display: flex;
              flex-direction: column;
              width: 100%;

              .dr {
                font-size: 1.25rem;
                color: #000;
                font-weight: 500;
                display: flex;
                align-items: center;
              }
              .rule {
                font-size: 0.875rem;
                color: #000;
              }

              .date-time {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .date {
                  font-size: 14px;
                  font-weight: 500;
                  color: #000;
                  display: flex;
                  align-items: center;

                  .iconn {
                    margin-right: 5px;
                  }
                }

                .time-price {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .time {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;

                    .iconn {
                      margin-right: 5px;
                    }
                  }

                  .price {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    .iconn {
                      margin-right: 5px;
                    }
                  }
                }
              }
            }

            .icon {
              color: #000;
              font-size: 1.25rem;
              cursor: pointer;
            }
          }
        }

        .empty-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 30px;

          .icon {
            font-size: 50px;
            color: rgb(177, 174, 174);
          }

          p {
            font-size: 1rem;
            color: gray;
          }
        }
      }

      .previous-appointment {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;

        .card {
          width: 100%;
          background-color: #fff;
          display: flex;
          padding: 20px;
          gap: 20px;
          border-radius: 10px;

          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

          .profile {
            height: 120px;
            width: 120px;
            object-fit: cover;
          }

          .right-card {
            width: 100%;
            background-color: #fff;
            display: flex;
            justify-content: space-between;

            .top-card {
              display: flex;
              flex-direction: column;
              width: 100%;

              .dr {
                font-size: 1.25rem;
                color: #000;
                font-weight: 500;
                display: flex;
                align-items: center;
              }
              .rule {
                font-size: 0.875rem;
                color: #000;
              }

              .date-time {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .date {
                  font-size: 14px;
                  font-weight: 500;
                  color: #000;
                  display: flex;
                  align-items: center;

                  .iconn {
                    margin-right: 5px;
                  }
                }

                .time-price {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .time {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;

                    .iconn {
                      margin-right: 5px;
                    }
                  }

                  .price {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    .iconn {
                      margin-right: 5px;
                    }
                  }
                }
              }
            }

            .icon {
              color: #000;
              font-size: 1.25rem;
              cursor: pointer;
            }
          }
        }

        .empty-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 30px;

          .icon {
            font-size: 50px;
            color: rgb(177, 174, 174);
          }

          p {
            font-size: 1rem;
            color: gray;
          }
        }
      }
    }
  }
}

.modal-edit-sched-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-edit-sched {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;

    .top {
      width: 100%;
    }

    .date-available {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .note {
        font-size: 1.125rem;
        color: #000;
        text-align: center;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 0.875rem;
        color: #000;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .calendar-icon {
          font-size: 20px;
          margin-right: 5px;
        }
      }

      .dates-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        span {
          font-size: 0.875rem;
          color: #000;
        }
        .date-input {
          height: 38px;
          border: none;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          width: 200px;
          justify-content: space-between;
          padding: 0 10px;

          input {
            width: 100%;
            font-size: 12px;
            color: #000;
            cursor: pointer;
            padding: 5px 8px;
            border-radius: 5px;
            border: none;
            background-color: transparent;

            &:focus {
              outline: none;
            }
          }

          .icon {
            font-size: 1.125rem;
            color: #000;
          }
        }
      }
    }

    .time-available {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;

      h6 {
        font-size: 0.875rem;
        color: #000;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .clock-icon {
          font-size: 20px;
          margin-right: 5px;
        }
      }

      .times-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        .time {
          width: 30%;
          font-size: 12px;
          color: #0a4b5e;
          cursor: pointer;
          border: none;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          padding: 5px 8px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          &.selected {
            background-color: #000;
            color: #fff;
          }
        }

        .no-avslot {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          img {
            height: 50px;
            width: 50px;
          }

          p {
            font-size: 12px;
            color: gray;
          }
        }
      }

      .choose-date {
        width: 70%;
        display: flex;
        justify-content: center;

        span {
          font-size: 0.875rem;
          color: #2a3335;
          text-align: center;
        }
      }

      .set-appointment-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 25px;
        align-items: center;
        gap: 50px;

        .back-icon {
          font-size: 1.25rem;
          cursor: pointer;
          color: #000;
        }

        .btn-setappointment {
          width: 100%;
          padding: 7px 0;
          font-size: 0.75rem;
          background-color: #261fb3;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          color: #fff;
          height: 37px;

          &:hover {
            background-color: #161179;
          }
          &:disabled {
            background-color: gray;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .appointment {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0;

    .container {
      width: 100%;
      height: 100%;
      background-color: #fff;
      margin-top: 0;

      .top {
        background-color: #0c0950;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding-top: 70px;

        .main-title {
          color: #fbe4d6;
          font-size: 1.5625rem;
        }
      }

      .title {
        color: #000;
        font-weight: 500;
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        margin: 30px 0;
        border-bottom: 1px solid lightgrey;
        padding: 0 20px 20px 20px;
        justify-content: space-between;

        h3 {
          font-size: 0.875rem;
        }
        button {
          background-color: #5e44a7;
          color: #fff;
          font-size: 10px;
          border: none;
          border-radius: 3px;
          padding: 3px 10px;
          transition: transform ease-in-out 0.3s;
          cursor: pointer;

          &:hover {
            background-color: #4f49bb;
            transform: scale(1.02);
          }
        }
      }

      .myappointment {
        display: flex;
        width: 100%;
        flex-direction: column;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #fff;
        margin-top: -30px;
        z-index: 999;

        .current-appointment {
          width: 100%;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;

          .card {
            width: 100%;
            background-color: #fff;
            display: flex;
            padding: 20px;
            gap: 20px;
            border-radius: 10px;

            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            .profile {
              height: 40px;
              width: 40px;
              object-fit: cover;
            }

            .right-card {
              width: 100%;
              background-color: #fff;
              display: flex;
              justify-content: space-between;
              flex-direction: column;

              .top-card {
                display: flex;
                flex-direction: column;

                .dr {
                  font-size: 1.25rem;
                  color: #000;
                  font-weight: 500;
                }
                .rule {
                  font-size: 0.875rem;
                  color: #000;
                }

                .date-time {
                  display: flex;
                  flex-direction: column;
                  margin-top: 20px;

                  .date {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;

                    .iconn {
                      margin-right: 5px;
                    }
                  }
                  .time {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;

                    .iconn {
                      margin-right: 5px;
                    }
                  }

                  .time-price {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    flex-direction: column;

                    .time {
                      font-size: 14px;
                      font-weight: 500;
                      color: #000;
                      display: flex;
                      align-items: center;

                      .iconn {
                        margin-right: 5px;
                      }
                    }

                    .price {
                      font-size: 1rem;
                      font-weight: 500;
                      color: #000;
                      display: flex;
                      align-items: center;

                      .iconn {
                        margin-right: 5px;
                      }
                    }
                  }
                }
              }

              .icon {
                align-self: end;
                color: blue;
              }

              .icon-wrapper {
                display: none;
                .icon {
                  font-size: 40px;
                  color: green;
                }
              }
            }
          }
        }

        .previous-appointment {
          width: 100%;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;

          .card {
            width: 100%;
            background-color: #fff;
            display: flex;
            padding: 20px;
            gap: 20px;
            border-radius: 10px;

            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            .profile {
              height: 40px;
              width: 40px;
              object-fit: cover;
            }

            .right-card {
              width: 100%;
              background-color: #fff;
              display: flex;
              justify-content: space-between;
              flex-direction: column;

              .top-card {
                display: flex;
                flex-direction: column;

                .dr {
                  font-size: 1.25rem;
                  color: #000;
                  font-weight: 500;
                }
                .rule {
                  font-size: 0.875rem;
                  color: #000;
                }

                .date-time {
                  display: flex;
                  flex-direction: column;
                  margin-top: 20px;

                  .date {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;

                    .iconn {
                      margin-right: 5px;
                    }
                  }
                  .time {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;

                    .iconn {
                      margin-right: 5px;
                    }
                  }

                  .time-price {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    flex-direction: column;

                    .time {
                      font-size: 14px;
                      font-weight: 500;
                      color: #000;
                      display: flex;
                      align-items: center;

                      .iconn {
                        margin-right: 5px;
                      }
                    }

                    .price {
                      font-size: 1rem;
                      font-weight: 500;
                      color: #000;
                      display: flex;
                      align-items: center;

                      .iconn {
                        margin-right: 5px;
                      }
                    }
                  }
                }
              }

              .icon {
                align-self: end;
                color: blue;
              }

              .icon-wrapper {
                display: none;
                .icon {
                  font-size: 40px;
                  color: green;
                }
              }
            }
          }
        }
      }
    }
  }

  .modal-edit-sched-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-edit-sched {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95%;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      height: 95%;
      .top {
        width: 100%;
      }

      .date-available {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .note {
          font-size: 0.875rem;
          color: gray;
          text-align: center;
          margin-bottom: 25px;
          width: 70%;
        }
        h6 {
          font-size: 0.875rem;
          color: #000;
          margin-bottom: 10px;
        }

        .dates-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;

          span {
            font-size: 0.875rem;
            color: #000;
          }

          .date-input {
            height: 38px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            width: 200px;
            justify-content: space-between;
            padding: 0 10px;

            input {
              width: 100%;
              font-size: 12px;
              color: #000;
              cursor: pointer;
              padding: 5px 8px;
              border-radius: 5px;
              border: none;
              background-color: transparent;

              &:focus {
                outline: none;
              }
            }

            .icon {
              font-size: 1.125rem;
              color: #000;
            }
          }
        }
      }

      .time-available {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        h6 {
          font-size: 0.875rem;
          color: #000;
          margin-bottom: 10px;
        }

        .times-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 10px;
          flex-wrap: wrap;

          .time {
            width: 45%;
            font-size: 12px;
            color: #0a4b5e;
            cursor: pointer;
            padding: 5px 8px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.selected {
              background-color: #000;
              color: #fff;
            }
          }
        }

        .set-appointment-wrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 25px;
          align-items: center;
          gap: 50px;
          padding: 0 25px;

          .back-icon {
            font-size: 1.25rem;
            cursor: pointer;
            color: #000;
          }

          .btn-setappointment {
            width: 100%;
            padding: 7px 0;
            font-size: 0.75rem;
            background-color: #261fb3;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            color: #fff;
            height: 37px;

            &:hover {
              background-color: #161179;
            }
          }
        }
      }
    }
  }
}
